Repository microsoft/genaiops-promptflow-template: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Path conditions:
  .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition, src/shared
  .azure-pipelines/test_pipeline.yml: any of: .azure-pipelines, llmops, named_entity_recognition
  .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification, src/shared
  .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification

github and azdo code for webapps
  .azure-pipelines/templates/webapp_deployment.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

github and azdo code for webapps
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .github/workflows/platform_cd_dev_workflow.yml
  llmops/common/scripts/az_webapp_deploy.sh
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

changed conditional execution from boolean to enum values
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .github/workflows/math_coding_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/platform_cd_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
  .github/workflows/web_classification_ci_dev_workflow.yml
  math_coding/.azure-pipelines/math_coding_ci_dev_pipeline.yml
  named_entity_recognition/.azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml
  web_classification/.azure-pipelines/web_classification_ci_dev_pipeline.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

added keyrings.alt as dependency for local connection creation
  .azure-pipelines/requirements/execute_job_requirements.txt
  .github/requirements/execute_job_requirements.txt
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

changed code
  web_classification/llmops_config.json
Due: none

changed code
  web_classification/configs/deployment_config.json
Due: none

script to create local pf connections
  llmops/common/prompt_local_connections.py
Due: .azure-pipelines/test_pipeline.yml

docker enabled and web app deployment for azure devops
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .azure-pipelines/templates/prepare_docker_image.yml
  .azure-pipelines/templates/webapp_deployment
  llmops/common/scrips/az_webapp_deploy.sh
  llmops/common/scrips/gen_docker_image.sh
  math_coding/.azure-pipelines/math_coding_ci_dev_pipeline.yml
  math_coding/configs/deployment_config.json
  math_coding/environment/Dockerfile
  named_entity_recognition/.azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml
  named_entity_recognition/configs/deployment_config.json
  named_entity_recognition/environment/Dockerfile
  web_classification/.azure-pipelines/web_classification_ci_dev_pipeline.yml
  web_classification/configs/deployment_config.json
  web_classification/environment/Dockerfile
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

added github workflow and actions for docker and webapp deployment
  .github/actions/prepare_docker_image/action.yml
  .github/actions/webapp_deployment/action.yml
  .github/workflows/math_coding_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/platform_cd_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
  .github/workflows/web_classification_ci_dev_workflow.yml
Due: none

renamed kubernetes deployment action
  .github/actions/kubernetes_deployment/action.yml
Due: none

added dependencies to each flow requirements
  math_coding/flows/math_standard_flow/requirements.txt
  named_entity_recognition/flows/standard/requirements.txt
  web_classification/flows/experiment/requirements.txt
Due: .azure-pipelines/test_pipeline.yml

added test script for local docker testing
  llmops/common/deployment/test_local_flow.py
Due: .azure-pipelines/test_pipeline.yml

added values for variables for test run
  math_coding/llmops_config.json
  named_entity_recognition/configs/deployment_config.json
  named_entity_recognition/llmops_config.json
  web_classification/llmops_config.json
Due: .azure-pipelines/test_pipeline.yml

using serverless runtime
  llmops/common/prompt_eval.py
  llmops/common/prompt_pipeline.py
Due: .azure-pipelines/test_pipeline.yml

code optimizations
  .github/workflows/math_coding_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/web_classification_ci_dev_workflow.yml
  llmops/common/scrips/gen_docker_image.sh
  math_coding/.azure-pipelines/math_coding_ci_dev_pipeline.yml
  named_entity_recognition/.azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml
  web_classification/.azure-pipelines/web_classification_ci_dev_pipeline.yml
Due: .azure-pipelines/test_pipeline.yml

added webapp deployment.yml file
  .azure-pipelines/templates/webapp_deployment.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

removed local connection creation file name
  .azure-pipelines/templates/prepare_docker_image.yml
  .github/workflows/platform_cd_dev_workflow.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

renamed scrips to scripts
  .azure-pipelines/templates/prepare_docker_image.yml
  llmops/common/scripts/az_webapp_deploy.sh
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

renamed scrips to scripts
  .azure-pipelines/templates/prepare_docker_image.yml
  .azure-pipelines/templates/webapp_deployment.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

added test workflows
  .github/workflows/test_workflow.yml
  .github/workflows/test_workflow_mc.yml
Due: none

doc updates for docker and webapp deployments
  .github/workflows/test_workflow.yml
  .github/workflows/test_workflow_mc.yml
  README.md
  docs/Azure_devops_how_to_setup.md
  docs/github_workflows_how_to_setup.md
Due: none

removed mlflow dependency
  .azure-pipelines/requirements/build_validation_requirements.txt
  .azure-pipelines/requirements/execute_job_requirements.txt
  .github/requirements/build_validation_requirements.txt
  .github/requirements/execute_job_requirements.txt
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

initial push
  named_entity_recognition/configs/deployment_config.json
  named_entity_recognition/llmops_config.json
Due: .azure-pipelines/test_pipeline.yml

reverting code back to template mode
  llmops/common/prompt_eval.py
  llmops/common/prompt_pipeline.py
  math_coding/llmops_config.json
  named_entity_recognition/llmops_config.json
  web_classification/llmops_config.json
Due: .azure-pipelines/test_pipeline.yml

flake linted the new code
  llmops/common/deployment/test_local_flow.py
  llmops/common/prompt_local_connections.py
Due: .azure-pipelines/test_pipeline.yml

fixed typos in docs and added comments
  docs/Azure_devops_how_to_setup.md
  docs/github_workflows_how_to_setup.md
  llmops/common/scripts/az_webapp_deploy.sh
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/test_pipeline.yml

fixed typos in docs and removed deployment values
  docs/Azure_devops_how_to_setup.md
  docs/github_workflows_how_to_setup.md
  math_coding/configs/deployment_config.json
  named_entity_recognition/configs/deployment_config.json
  web_classification/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

removed test values
  named_entity_recognition/llmops_config.json
Due: .azure-pipelines/test_pipeline.yml

changed code
  named_entity_recognition/configs/deployment_config.json
  named_entity_recognition/llmops_config.json
Due: .azure-pipelines/test_pipeline.yml

pushing infra code
  infra/bicep/main.bicep
  infra/bicep/modules/app-insights.bicep
  infra/bicep/modules/azure-openai.bicep
  infra/bicep/modules/container-registry.bicep
  infra/bicep/modules/key-vault.bicep
  infra/bicep/modules/linux-machine.bicep
  infra/bicep/modules/machine-learning-workspace.bicep
  infra/bicep/modules/machinelearningnetworking.bicep
  infra/bicep/modules/network.bicep
  infra/bicep/modules/nsg.bicep
  infra/bicep/modules/rolesAssignments.bicep
  infra/bicep/modules/storage.bicep
  infra/bicep/scripts/deploy-infra.sh
Due: none

content updates
  README.md
  docs/Azure_devops_how_to_setup.md
  docs/github_workflows_how_to_setup.md
  docs/how_to_onboard_new_flows.md
  docs/tutorial/03-Operationalization.md
  docs/tutorial/README.md
Due: none

data and model conditional registration implementation
  llmops/common/deployment/register_model.py
  llmops/common/register_data_asset.py
Due: .azure-pipelines/test_pipeline.yml

test conditional execution
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
  named_entity_recognition/llmops_config.json
Due: .azure-pipelines/test_pipeline.yml

removed static values
  .github/workflows/platform_ci_dev_workflow.yml
  named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

doc update
  .github/workflows/platform_cd_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
  docs/Azure_devops_how_to_setup.md
  docs/github_workflows_how_to_setup.md
Due: none

doc minor updates
  docs/Azure_devops_how_to_setup.md
  docs/github_workflows_how_to_setup.md
Due: none

changed code
  named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml
