Repository microsoft/genaiops-promptflow-template: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Path conditions:
  .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition, src/shared
  .azure-pipelines/test_pipeline.yml: any of: .azure-pipelines, llmops, named_entity_recognition
  .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification, src/shared
  .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification

Flex flow jenkin fixeS
  .jenkins/pipelines/platform_cd_dev
  .jenkins/pipelines/platform_ci_dev
  .jenkins/pipelines/platform_pr_dev
Due: none

Flex flow jenkin fixeS
  .jenkins/jobs/webapp_deployment
  .jenkins/pipelines/platform_cd_dev
  .jenkins/pipelines/platform_ci_dev
Due: none

Flex flow jenkin fixeS
  .jenkins/pipelines/platform_ci_dev
Due: none

Flex flow jenkin fixeS
  .jenkins/pipelines/platform_cd_dev
Due: none

Flex flow jenkin fixeS
  named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

feature enhancements
  .azure-pipelines/requirements/execute_job_requirements.txt
  .github/requirements/execute_job_requirements.txt
  chat_with_pdf/.azure-pipelines/chat_with_pdf_ci_dev_pipeline.yml
  llmops/common/create_connections.py
  llmops/common/deployment/kubernetes_deployment.py
  llmops/common/deployment/kubernetes_endpoint.py
  llmops/common/deployment/provision_deployment.py
  llmops/common/deployment/provision_endpoint.py
  llmops/common/deployment/register_model.py
  llmops/common/deployment/test_model_on_aml.py
  llmops/common/deployment/test_model_on_kubernetes.py
  llmops/common/prompt_eval.py
  llmops/common/prompt_local_connections.py
  llmops/common/prompt_pipeline.py
  llmops/common/register_data_asset.py
  llmops/common/scripts/gen_docker_image.sh
  llmops/config.py
  tests/test_create_aml_deployment.py
  tests/test_create_kubernetes_deployment.py
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

feature enhancements
  .azure-pipelines/requirements/execute_job_requirements.txt
  .github/requirements/execute_job_requirements.txt
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Flex flow jenkin fixeS
  .jenkins/jobs/webapp_deployment
  .jenkins/pipelines/chat_with_pdf_ci_dev
  .jenkins/pipelines/chat_with_pdf_pr_dev
  .jenkins/pipelines/class_flows_ci_dev
  .jenkins/pipelines/class_flows_pr_dev
  .jenkins/pipelines/flex_flows_ci_dev
  .jenkins/pipelines/flex_flows_pr_dev
  .jenkins/pipelines/platform_ci_dev
Due: none

feature enhancements
  class_flows/configs/deployment_config.json
Due: none

feature enhancements
  chat_with_pdf/configs/deployment_config.json
  class_flows/configs/deployment_config.json
  function_flows/configs/deployment_config.json
  math_coding/configs/deployment_config.json
  named_entity_recognition/configs/deployment_config.json
  web_classification/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

Flex flow jenkin fixeS
  .jenkins/shared-library/vars/installRequirements.groovy
Due: none

Flex flow jenkin fixeS
  .jenkins/jobs/webapp_deployment
  .jenkins/shared-library/vars/installRequirements.groovy
Due: none

Flex flow jenkin fixeS
  .jenkins/jobs/aml_real_deployment
  .jenkins/jobs/build_validation
  .jenkins/jobs/configure_azureml_agent
  .jenkins/jobs/kubernetes_deployment
  .jenkins/jobs/prepare_docker_image
  .jenkins/jobs/webapp_deployment
  .jenkins/pipelines/platform_cd_dev
  .jenkins/pipelines/platform_ci_dev
  .jenkins/pipelines/platform_pr_dev
  .jenkins/shared-library/vars/installRequirements.groovy
Due: none

Flex flow jenkin fixeS
  .jenkins/jobs/webapp_deployment
Due: none

Flex flow jenkin fixeS
  .jenkins/jobs/webapp_deployment
  .jenkins/requirements/build_validation_requirements.txt
  .jenkins/requirements/execute_job_requirements.txt
Due: none

Flex flow jenkin fixeS
  .jenkins/jobs/configure_azureml_agent
  .jenkins/jobs/webapp_deployment
Due: none

Flex flow jenkin fixeS
  .jenkins/jobs/configure_azureml_agent
  .jenkins/pipelines/platform_cd_dev
Due: none

Flex flow jenkin fixeS
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/test_pipeline.yml

Flex flow jenkin fixeS
  .jenkins/jobs/webapp_deployment
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/test_pipeline.yml
