Repository microsoft/genaiops-promptflow-template: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Path conditions:
  .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition, src/shared
  .azure-pipelines/test_pipeline.yml: any of: .azure-pipelines, llmops, named_entity_recognition
  .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification, src/shared
  .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification

github and azdo code for webapps
  .github/actions/prepare_docker_image/action.yml
Due: none

github and azdo code for webapps
  .github/actions/prepare_docker_image/action.yml
  named_entity_recognition/sample-request.json
Due: .azure-pipelines/test_pipeline.yml

github and azdo code for webapps
  .github/actions/prepare_docker_image/action.yml
  .github/workflows/test_workflow.yml
Due: none

github and azdo code for webapps
  .github/actions/prepare_docker_image/action.yml
  .github/actions/webapp_deployment/action.yml
Due: none

github and azdo code for webapps
  .github/actions/prepare_docker_image/action.yml
  .github/actions/webapp_deployment/action.yml
  .github/workflows/platform_cd_dev_workflow.yml
Due: none

github and azdo code for webapps
  .github/actions/prepare_docker_image/action.yml
  test.sh
Due: none

github and azdo code for webapps
  .github/actions/prepare_docker_image/action.yml
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/test_pipeline.yml

github and azdo code for webapps
  .azure-pipelines/templates/prepare_docker_image.yml
  .github/actions/prepare_docker_image/action.yml
  .github/workflows/platform_cd_dev_workflow.yml
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

github and azdo code for webapps
  math_coding/.azure-pipelines/math_coding_ci_dev_pipeline.yml
  math_coding/configs/deployment_config.json
  math_coding/environment/Dockerfile
  math_coding/flows/math_standard_flow/requirements.txt
  named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

github and azdo code for webapps
  .github/workflows/math_coding_ci_dev_workflow.yml
  math_coding/llmops_config.json
Due: none

github and azdo code for webapps
  .github/workflows/test_workflow_mc.yml
Due: none

github and azdo code for webapps
  .azure-pipelines/templates/webapp_deployment.yml
  .github/actions/webapp_deployment/action.yml
  llmops/common/scripts/az_webapp_deploy.sh
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

github and azdo code for webapps
  .azure-pipelines/templates/webapp_deployment.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml
