Repository microsoft/genaiops-promptflow-template: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

.azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ../platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ../platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/test_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: deploy_prompts
    displayName: deploy_prompts
    jobs:
    - job: Execute_ml_Job_Pipeline
      steps:
      - ${{ if eq('webapp', lower(parameters.deployment_type)) }}:
        - template: templates/webapp_deployment.yml
          parameters:
  ...

.azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ../platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ../platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

Promptflow in aml pipeline start
  web_classification/aml-pipeline/.env.template
  web_classification/aml-pipeline/components/postprocess.yaml
  web_classification/aml-pipeline/components/preprocess.yaml
  web_classification/aml-pipeline/environment/conda.yaml
  web_classification/aml-pipeline/pf_as_component.py
  web_classification/aml-pipeline/src/postprocess.py
  web_classification/aml-pipeline/src/preprocess.py
Due: none

Changes to fix pipeline run issues
  web_classification/flows/experiment/.promptflow/flow.tools.json
  web_classification/pf-in-aml-pipeline/.env.template
  web_classification/pf-in-aml-pipeline/README.md
  web_classification/pf-in-aml-pipeline/components/postprocess.yaml
  web_classification/pf-in-aml-pipeline/components/preprocess.yaml
  web_classification/pf-in-aml-pipeline/environment/conda.yaml
  web_classification/pf-in-aml-pipeline/run_pipeline.py
  web_classification/pf-in-aml-pipeline/src/postprocess.py
  web_classification/pf-in-aml-pipeline/src/preprocess.py
Due: none

Readme file added
  web_classification/pf-in-aml-pipeline/README.md
  web_classification/pf-in-aml-pipeline/requirements.txt
  web_classification/pf-in-aml-pipeline/run_pipeline.py
Due: none

Fixed readme format
  web_classification/pf-in-aml-pipeline/README.md
Due: none

updated data config
  chat_with_pdf/configs/data_config.json
Due: none

add configs for pr run
  .azure-pipelines/requirements/execute_job_requirements.txt
  chat_with_pdf/configs/deployment_config.json
  chat_with_pdf/llmops_config.json
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

updated requirements with propptflow
  .azure-pipelines/requirements/build_validation_requirements.txt
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

fixed tests
  chat_with_pdf/flows/standard/flow.dag.yaml
  chat_with_pdf/tests/azure_chat_with_pdf_test.py
  chat_with_pdf/tests/base_test.py
  chat_with_pdf/tests/chat_with_pdf_test.py
Due: none

made simple test
  chat_with_pdf/tests/azure_chat_with_pdf_test.py
  chat_with_pdf/tests/base_test.py
  chat_with_pdf/tests/chat_with_pdf_test.py
  chat_with_pdf/tests/test_delete_this_file.py
Due: none

updated example data
  chat_with_pdf/configs/mapping_config.json
  chat_with_pdf/data/bert-paper-qna-1-line.jsonl
Due: none

fixed example data
  chat_with_pdf/data/bert-paper-qna-1-line.jsonl
Due: none

updated evaluation dataset
  chat_with_pdf/configs/data_config.json
  chat_with_pdf/data/bert-paper-qna-3-line.jsonl
Due: none

added related data to evaluation config
  chat_with_pdf/configs/data_config.json
Due: none

update mapping config for evaluation
  chat_with_pdf/configs/mapping_config.json
  chat_with_pdf/flows/evaluation/flow.dag.yaml
Due: none

fixed endpoint name
  chat_with_pdf/configs/deployment_config.json
  chat_with_pdf/configs/mapping_config.json
Due: none

updated endpoint name
  chat_with_pdf/configs/deployment_config.json
  chat_with_pdf/environment/conda.yml
Due: none

set deployment name
  chat_with_pdf/configs/deployment_config.json
Due: none

Some fixes in components of the pipeline
  web_classification/pf-in-aml-pipeline/README.md
  web_classification/pf-in-aml-pipeline/components/postprocess.yaml
  web_classification/pf-in-aml-pipeline/components/preprocess.yaml
  web_classification/pf-in-aml-pipeline/environment/conda.yaml
  web_classification/pf-in-aml-pipeline/run_pipeline.py
  web_classification/pf-in-aml-pipeline/src/postprocess.py
  web_classification/pf-in-aml-pipeline/src/preprocess.py
Due: none

added dependencies to conda env
  chat_with_pdf/environment/conda.yml
Due: none

add conda file path to env build
  llmops/common/deployment/provision_deployment.py
Due: .azure-pipelines/test_pipeline.yml

chaneged conda file path
  chat_with_pdf/configs/deployment_config.json
Due: none

added environmnet folder to ci pipeline
  chat_with_pdf/.azure-pipelines/chat_with_pdf_ci_dev_pipeline.yml
  chat_with_pdf/configs/deployment_config.json
Due: none

trying find conda.yml
  chat_with_pdf/configs/deployment_config.json
  llmops/common/deployment/conda.yml
Due: .azure-pipelines/test_pipeline.yml

trying find conda.yml 2
  chat_with_pdf/configs/deployment_config.json
Due: none

added deploymnet config for webapp
  chat_with_pdf/configs/deployment_config.json
  chat_with_pdf/flows/standard/requirements.txt
Due: none

try to build docker image for AML endpoint
  chat_with_pdf/configs/deployment_config.json
  llmops/common/deployment/provision_deployment.py
Due: .azure-pipelines/test_pipeline.yml

install requirements.txt when build docker file for flow
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/test_pipeline.yml

added path to dockerfile
  chat_with_pdf/configs/deployment_config.json
  llmops/common/deployment/provision_deployment.py
Due: .azure-pipelines/test_pipeline.yml

fixed path to requirements.txt
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/test_pipeline.yml

added sample request
  chat_with_pdf/sample-request.json
Due: none

fixed path to requirements.txt in dockerfile
  chat_with_pdf/environment/Dockerfile
Due: none

added infor for webapp deploymnet
  chat_with_pdf/configs/deployment_config.json
Due: none

fixed path to requirementx.txt in DOcker file
  chat_with_pdf/environment/Dockerfile
Due: none

fixed docekrfile fpr webapp
  chat_with_pdf/environment/Dockerfile.aml
  llmops/common/deployment/provision_deployment.py
Due: .azure-pipelines/test_pipeline.yml

changed rg name for webapp
  chat_with_pdf/configs/deployment_config.json
Due: none

updated dockerfile for aml
  chat_with_pdf/environment/Dockerfile.aml
Due: none

fixed webapp name
  chat_with_pdf/configs/deployment_config.json
Due: none

removed redundant files
  chat_with_pdf/flows/standard/chat-with-pdf-azure.ipynb
  chat_with_pdf/flows/standard/chat-with-pdf.ipynb
  llmops/common/deployment/conda.yml
  llmops/common/deployment/provision_deployment.py
Due: .azure-pipelines/test_pipeline.yml

update azure aiml varsion for github actions
  .github/requirements/execute_job_requirements.txt
Due: none

Path conditions:
  .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition, src/shared
  .azure-pipelines/test_pipeline.yml: any of: .azure-pipelines, llmops, named_entity_recognition
  .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification, src/shared
  .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification
