Repository microsoft/genaiops-promptflow-template: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

.azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ../platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ../platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/test_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: deploy_prompts
    displayName: deploy_prompts
    jobs:
    - job: Execute_ml_Job_Pipeline
      steps:
      - ${{ if eq('webapp', lower(parameters.deployment_type)) }}:
        - template: templates/webapp_deployment.yml
          parameters:
  ...

.azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ../platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ../platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

workflow modifications
  .github/workflows/test_ci_dev_workflow.yml
Due: none

workflow modifications
  llmops/config.py
Due: .azure-pipelines/test_pipeline.yml

workflow modifications
  .github/workflows/platform_cd_dev_workflow.yml
Due: none

workflow modifications
  llmops/common/prompt_local_connections.py
Due: .azure-pipelines/test_pipeline.yml

workflow modifications
  .github/actions/webapp_deployment/action.yml
  .github/workflows/platform_cd_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/test_pipeline.yml

workflow modifications
  .github/actions/webapp_deployment/action.yml
  .github/workflows/platform_cd_dev_workflow.yml
Due: none

workflow modifications
  flex-flows/configs/deployment_config.json
Due: none

workflow modifications
  .github/workflows/platform_pr_dev_workflow.yml
  .github/workflows/test_pr_dev_workflow.yml
Due: none

config update
  named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

workflow modifications
  .github/workflows/test_pr_dev_workflow.yml
Due: none

workflow modifications
  .github/workflows/ctest_ci_dev_workflow.yml
  .github/workflows/ctest_pr_dev_workflow.yml
  class_flows/configs/deployment_config.json
Due: none

changed endpoint name
  named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

workflow modifications
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .azure-pipelines/platform_pr_dev_pipeline.yml
  .azure-pipelines/templates/aml_real_deployment.yml
  .azure-pipelines/templates/kubernetes_deployment.yml
  .azure-pipelines/templates/prepare_docker_image.yml
  .azure-pipelines/templates/webapp_deployment.yml
  .github/actions/aml_real_deployment/action.yml
  .github/workflows/ctest_ci_dev_workflow.yml
  .github/workflows/platform_cd_dev_workflow.yml
  .github/workflows/test_ci_dev_workflow.yml
  class_flows/.azure-pipelines/ctest_ci_dev_pipeline.yml
  class_flows/.azure-pipelines/ctest_pr_dev_pipeline.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

workflow modifications
  .github/actions/aml_real_deployment/action.yml
  .github/workflows/platform_cd_dev_workflow.yml
Due: none

workflow modifications
  .github/actions/aml_real_deployment/action.yml
  .github/actions/kubernetes_deployment/action.yml
Due: none

changed endpoint name. Removed "-" sign
  named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

addedd word to comment
  named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

current deployment name added
  named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

added more data items
  named_entity_recognition/data/data.jsonl
  named_entity_recognition/data/eval_data.jsonl
  named_entity_recognition/data/production_log.jsonl
Due: .azure-pipelines/test_pipeline.yml

workflow config
  .github/actions/aml_real_deployment/action.yml
  class_flows/configs/deployment_config.json
  llmops/common/deployment/provision_deployment.py
Due: .azure-pipelines/test_pipeline.yml

added more data sets
  named_entity_recognition/data/data.jsonl
  named_entity_recognition/data/eval_data.jsonl
  named_entity_recognition/data/production_log.jsonl
Due: .azure-pipelines/test_pipeline.yml

workflow config
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .azure-pipelines/templates/aml_real_deployment.yml
  .azure-pipelines/templates/kubernetes_deployment.yml
  .azure-pipelines/templates/webapp_deployment.yml
  llmops/common/deployment/kubernetes_deployment.py
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

workflow config
  .azure-pipelines/requirements/execute_job_requirements.txt
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

workflow config
  .azure-pipelines/templates/configure_azureml_agent.yml
  .github/actions/configure_azureml_agent/action.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

workflow config
  .azure-pipelines/platform_ci_dev_pipeline.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

workflow config
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .azure-pipelines/platform_pr_dev_pipeline.yml
  .azure-pipelines/templates/aml_real_deployment.yml
  .azure-pipelines/templates/kubernetes_deployment.yml
  .azure-pipelines/templates/prepare_docker_image.yml
  .azure-pipelines/templates/webapp_deployment.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

workflow config
  .azure-pipelines/templates/prepare_docker_image.yml
  .azure-pipelines/templates/webapp_deployment.yml
  class_flows/sample-request.json
  tests/test_experiment.py
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

workflow config
  .gitignore
  llmops/common/common.py
  llmops/common/prompt_eval.py
  llmops/common/prompt_pipeline.py
  tests/resources/experiment.yaml
  tests/test_experiment.py
  tests/test_run_evaluation_flow.py
  tests/test_run_standard_flow.py
Due: .azure-pipelines/test_pipeline.yml

workflow config
  .azure-pipelines/requirements/build_validation_requirements.txt
  .github/requirements/build_validation_requirements.txt
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

workflow config
  .azure-pipelines/requirements/build_validation_requirements.txt
  .github/requirements/build_validation_requirements.txt
  .github/workflows/chat_with_pdf_ci_dev_workflow.yml
  .github/workflows/chat_with_pdf_pr_dev_workflow.yml
  .github/workflows/math_coding_ci_dev_workflow.yml
  .github/workflows/math_coding_pr_dev_workflow.yml
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_pr_dev_workflow.yml
  .github/workflows/test_ci_dev_workflow.yml
  .github/workflows/test_pr_dev_workflow.yml
  .github/workflows/web_classification_ci_dev_workflow.yml
  .github/workflows/web_classification_pr_dev_workflow.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

workflow config
  .azure-pipelines/requirements/build_validation_requirements.txt
  .azure-pipelines/requirements/execute_job_requirements.txt
  .github/requirements/build_validation_requirements.txt
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

workflow config
  .azure-pipelines/templates/aml_real_deployment.yml
  .azure-pipelines/templates/kubernetes_deployment.yml
  tests/resources/eval1/dummy.txt
  tests/resources/eval2/dummy.txt
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

flake lint
  llmops/common/common.py
  llmops/common/deployment/generate_config.py
  llmops/common/deployment/generate_env_vars.py
  llmops/common/deployment/kubernetes_deployment.py
  llmops/common/deployment/kubernetes_endpoint.py
  llmops/common/deployment/migrate_connections.py
  llmops/common/deployment/provision_endpoint.py
  llmops/common/deployment/register_model.py
  llmops/common/deployment/test_model_on_aml.py
  llmops/common/prompt_eval.py
  llmops/common/prompt_pipeline.py
Due: .azure-pipelines/test_pipeline.yml

Path conditions:
  .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition, src/shared
  .azure-pipelines/test_pipeline.yml: any of: .azure-pipelines, llmops, named_entity_recognition
  .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification, src/shared
  .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification
