Repository microsoft/genaiops-promptflow-template: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Path conditions:
  .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition, src/shared
  .azure-pipelines/test_pipeline.yml: any of: .azure-pipelines, llmops, named_entity_recognition
  .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification, src/shared
  .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification

Merge changes to llmops_config.json
  named_entity_recognition/llmops_config.json
Due: .azure-pipelines/test_pipeline.yml

updating azure-ai-ml version
  .github/requirements/build_validation_requirements.txt
  .github/requirements/execute_job_requirements.txt
Due: none

add config updates
  .devcontainer/devcontainer.json
  .devcontainer/requirements.txt
  llmops/common/config_utils.py
  llmops/common/prompt_eval.py
  llmops/common/prompt_local_connections.py
  llmops/common/prompt_pipeline.py
  llmops/common/register_data_asset.py
  llmops/common/scripts/az_webapp_deploy.sh
  llmops/common/scripts/gen_docker_image.sh
  math_coding/configs/config.yaml
  named_entity_recognition/configs/config.yaml
  web_classification/configs/config.yaml
Due: .azure-pipelines/test_pipeline.yml

fix typos
  llmops/common/config_utils.py
  math_coding/configs/config.yaml
  named_entity_recognition/configs/config.yaml
  web_classification/configs/config.yaml
Due: .azure-pipelines/test_pipeline.yml

azure devops pipeline for dataops
  .azure-pipelines/templates/data_aml_cd_workflow.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

updating azure-ai-ml version
  .azure-pipelines/requirements/build_validation_requirements.txt
  .azure-pipelines/requirements/execute_job_requirements.txt
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Testing 3.10 python for azure ml client
  web_classification/environment/conda.yml
Due: none

Testing 3.10 python for azure ml client
  .azure-pipelines/requirements/build_validation_requirements.txt
  .azure-pipelines/requirements/execute_job_requirements.txt
  .github/requirements/build_validation_requirements.txt
  .github/requirements/execute_job_requirements.txt
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

storage account with multiple data asset
  dataops/common/aml_data_asset.py
  named_entity_recognition/configs/dataops_config.json
  named_entity_recognition/data_pipelines/aml/prep_data.py
Due: .azure-pipelines/test_pipeline.yml

changes for review comments
  .devcontainer/requirements.txt
  .env.sample
  .github/workflows/build_validation_workflow.yml
  llmops/common/config_utils.py
  llmops/common/scripts/az_webapp_deploy.sh
  llmops/common/scripts/gen_docker_image.sh
  math_coding/configs/llmops_config..yaml
  math_coding/llmops_config.json
  named_entity_recognition/configs/llmops_config.yaml
  named_entity_recognition/llmops_config.json
  web_classification/configs/llmops_config.yaml
  web_classification/llmops_config.json
Due: .azure-pipelines/test_pipeline.yml

remove deleted files
  math_coding/configs/config.yaml
  math_coding/configs/data_config.json
  math_coding/configs/deployment_config.json
  math_coding/configs/llmops_config.yaml
  math_coding/configs/mapping_config.json
  named_entity_recognition/configs/config.yaml
  named_entity_recognition/configs/data_config.json
  named_entity_recognition/configs/deployment_config.json
  named_entity_recognition/configs/mapping_config.json
  web_classification/configs/config.yaml
  web_classification/configs/data_config.json
  web_classification/configs/deployment_config.json
  web_classification/configs/mapping_config.json
Due: .azure-pipelines/test_pipeline.yml

Restructred the code for pf in pipeline for ci/cd
  llmops/common/components/postprocess.py
  llmops/common/components/preprocess.py
  llmops/common/promptflow_in_aml_pipeline.py
  web_classification/pf-in-aml-pipeline/.env.template
  web_classification/pf-in-aml-pipeline/README.md
  web_classification/pf-in-aml-pipeline/components/postprocess.yaml
  web_classification/pf-in-aml-pipeline/components/preprocess.yaml
  web_classification/pf-in-aml-pipeline/environment/conda.yaml
  web_classification/pf-in-aml-pipeline/requirements.txt
  web_classification/pf-in-aml-pipeline/run_pipeline.py
Due: .azure-pipelines/test_pipeline.yml

fix typo
  math_coding/configs/llmops_config.yaml
Due: none

Fixes to the input data
  llmops/common/promptflow_in_aml_pipeline.py
Due: .azure-pipelines/test_pipeline.yml

Update changes
  named_entity_recognition/data_pipelines/aml/prep_data.py
Due: .azure-pipelines/test_pipeline.yml

changed code
  .azureml/config.json
  .vscode/settings.json
  local_execution/named_entity_local_experiment.py
  named_entity_recognition/configs/deployment_config.json
  named_entity_recognition/flows/evaluation/.promptflow/flow.tools.json
  named_entity_recognition/flows/standard/.promptflow/flow.tools.json
  named_entity_recognition/llmops_config.json
Due: .azure-pipelines/test_pipeline.yml

changed code
  math_coding/configs/deployment_config.json
  math_coding/llmops_config.json
Due: none

add runtime
  math_coding/llmops_config.json
Due: none

Update llmops_config.json
  named_entity_recognition/llmops_config.json
Due: .azure-pipelines/test_pipeline.yml

changed to serverless compute
  llmops/common/prompt_eval.py
  llmops/common/prompt_pipeline.py
  named_entity_recognition/llmops_config.json
Due: .azure-pipelines/test_pipeline.yml

commented runtime
  llmops/common/prompt_eval.py
  llmops/common/prompt_pipeline.py
Due: .azure-pipelines/test_pipeline.yml

Changed the runtime to serverless for all
  math_coding/llmops_config.json
  web_classification/llmops_config.json
Due: none

promptflow in aml pipeline fixes for pipeline args
  llmops/common/promptflow_in_aml_pipeline.py
Due: .azure-pipelines/test_pipeline.yml

fixed bugs
  llmops/common/promptflow_in_aml_pipeline.py
Due: .azure-pipelines/test_pipeline.yml

changed deployment and endpoints
  math_coding/configs/deployment_config.json
  named_entity_recognition/flows/standard/NER_LLM.jinja2
  web_classification/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

Promptflow working in pipeline
  llmops/common/promptflow_in_aml_pipeline.py
Due: .azure-pipelines/test_pipeline.yml

changed dep names
  math_coding/configs/deployment_config.json
  web_classification/configs/deployment_config.json
Due: none

Update deployment_config.json
  math_coding/configs/deployment_config.json
Due: none

chang
  math_coding/configs/deployment_config.json
  named_entity_recognition/configs/deployment_config.json
  web_classification/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

Add unit tests to pipeline
  .github/workflows/platform_pr_dev_workflow.yml
  llmops/common/common.py
  llmops/common/experiment.py
  llmops/common/experiment_cloud_config.py
  tests/resources/experiment.dev0.yaml
  tests/resources/experiment.dev1.yaml
  tests/resources/experiment.dev2.yaml
  tests/resources/experiment.dev3.yaml
  tests/resources/experiment.yaml
  tests/resources/flows/exp_flow/flow.dag.yaml
  tests/resources/model_version.txt
  tests/resources/run_ids.txt
  tests/test_experiment.py
  tests/test_experiment_cloud_config.py
Due: .azure-pipelines/test_pipeline.yml

Fix pipeline
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

Fix pipeline
  .github/workflows/build_validation_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

changed ab deployment
  named_entity_recognition/configs/deployment_config.json
  web_classification/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

Add documentation
  README.md
  docs/experiment.yaml
Due: none

md update
  docs/dataops_for_llmops.md
Due: none

update docs and test files
  .azure-pipelines/templates/aml_real_deployment.yml
  .azure-pipelines/templates/kubernetes_deployment.yml
  .github/actions/aml_real_deployment/action.yml
  .github/actions/kubernetes_deployment/action.yml
  README.md
  docs/Azure_devops_how_to_setup.md
  docs/github_workflows_how_to_setup.md
  docs/how_to_onboard_new_flows.md
  docs/tutorial/04-Patterns.md
  llmops/common/deployment/kubernetes_deployment.py
  llmops/common/deployment/kubernetes_endpoint.py
  llmops/common/deployment/provision_deployment.py
  llmops/common/deployment/provision_endpoint.py
  llmops/common/deployment/register_model.py
  llmops/common/deployment/test_local_flow.py
  llmops/common/deployment/test_model_on_aml.py
  llmops/common/deployment/test_model_on_kubernetes.py
  llmops/common/scripts/az_webapp_deploy.sh
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

modify configs
  named_entity_recognition/configs/deployment_config.json
  named_entity_recognition/flows/standard/requirements.txt
  named_entity_recognition/llmops_config.json
Due: .azure-pipelines/test_pipeline.yml

Small modification
  named_entity_recognition/flows/standard/NER_LLM.jinja2
Due: .azure-pipelines/test_pipeline.yml
