Repository microsoft/genaiops-promptflow-template: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

.azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ../platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ../platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/test_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: deploy_prompts
    displayName: deploy_prompts
    jobs:
    - job: Execute_ml_Job_Pipeline
      steps:
      - ${{ if eq('webapp', lower(parameters.deployment_type)) }}:
        - template: templates/webapp_deployment.yml
          parameters:
  ...

.azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ../platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ../platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

flake lint
  flex-flows/configs/deployment_config.json
Due: none

workflow modifications
  llmops/common/prompt_pipeline.py
Due: .azure-pipelines/test_pipeline.yml

flow config
  class_flows/configs/deployment_config.json
  class_flows/flows/chat-basic/flow.flex.yaml
  flex-flows/flows/basic/flow.flex.yaml
Due: none

feat: updated config
  chat_with_pdf/configs/deployment_config.json
  math_coding/configs/deployment_config.json
  named_entity_recognition/configs/deployment_config.json
  plan_and_execute/configs/deployment_config.json
  tests/resources/configs/deployment_config.json
  web_classification/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

fix: remove _ from endpoint names
  chat_with_pdf/configs/deployment_config.json
  math_coding/configs/deployment_config.json
  named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

flow modifications
  llmops/common/create_connections.py
  llmops/common/deployment/migrate_connections.py
  llmops/common/prompt_eval.py
  local_execution/math_coding_local_experiment.py
  local_execution/named_entity_local_experiment.py
  local_execution/prompt_experimentation/__init__.py
  local_execution/prompt_experimentation/run_local.py
  local_execution/web_classification_local_experiment.py
Due: .azure-pipelines/test_pipeline.yml

flow modifications
  chat_with_pdf/configs/deployment_config.json
  class_flows/configs/deployment_config.json
  flex_flows/configs/deployment_config.json
  math_coding/configs/deployment_config.json
  named_entity_recognition/configs/deployment_config.json
  web_classification/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

flow config
  llmops/config.py
Due: .azure-pipelines/test_pipeline.yml

config
  .github/workflows/build_validation_workflow.yml
  llmops/common/deployment/migrate_connections.py
  tests/test_experiment.py
Due: .azure-pipelines/test_pipeline.yml

config
  .github/workflows/flex_flows_pr_dev_workflow.yml
  class_flows/flows/chat_basic/flow.flex.yaml
  llmops/common/prompt_eval.py
  llmops/common/prompt_pipeline.py
Due: .azure-pipelines/test_pipeline.yml

config
  chat_with_pdf/configs/deployment_config.json
  chat_with_pdf/flows/evaluation/aggregate_variants_results.py
  chat_with_pdf/flows/evaluation/concat_scores.py
  chat_with_pdf/flows/evaluation/parse_generation_score.py
  chat_with_pdf/flows/evaluation/parse_groundedness_score.py
  chat_with_pdf/flows/evaluation/parse_retrival_score.py
  chat_with_pdf/flows/evaluation/select_metrics.py
  chat_with_pdf/flows/evaluation/validate_input.py
  chat_with_pdf/flows/standard/build_index_tool.py
  chat_with_pdf/flows/standard/chat_with_pdf_tool.py
  chat_with_pdf/flows/standard/download_tool.py
  chat_with_pdf/flows/standard/find_context_tool.py
  chat_with_pdf/flows/standard/qna_tool.py
  chat_with_pdf/flows/standard/rewrite_question_tool.py
  chat_with_pdf/flows/standard/setup_env.py
  llmops/common/common.py
  llmops/common/prompt_eval.py
  llmops/common/prompt_pipelinev1.py
  math_coding/flows/math_evaluation_flow/aggregate.py
  math_coding/flows/math_evaluation_flow/line_process.py
  math_coding/flows/math_standard_flow/code_execution.py
  math_coding/flows/math_standard_flow/code_refine.py
  math_coding/flows/math_standard_flow/math_example.py
  named_entity_recognition/flows/evaluation/cleansing.py
  named_entity_recognition/flows/evaluation/log_metrics.py
  named_entity_recognition/flows/evaluation/match.py
  named_entity_recognition/flows/post-production-evaluation/aggregate.py
  named_entity_recognition/flows/post-production-evaluation/concat_scores.py
  named_entity_recognition/flows/standard/cleansing.py
  web_classification/data/eval_data_new.jsonl
  web_classification/flows/evaluation/grade.py
  web_classification/flows/evaluation_adv/grade.py
  web_classification/flows/experiment/convert_to_dict.py
  web_classification/flows/experiment/fetch_text_content_from_url.py
  web_classification/flows/experiment/prepare_examples.py
Due: .azure-pipelines/test_pipeline.yml

config
  .github/workflows/chat_with_pdf_ci_dev_workflow.yml
  .github/workflows/class_flows_ci_dev_workflow.yml
  .github/workflows/flex_flows_ci_dev_workflow.yml
  .github/workflows/math_coding_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
Due: none

config
  llmops/common/prompt_pipelinev1.py
Due: .azure-pipelines/test_pipeline.yml

config
  .github/actions/webapp_deployment/action.yml
  .github/workflows/web_classification_ci_dev_workflow.yml
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/test_pipeline.yml

config
  .github/actions/webapp_deployment/action.yml
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/test_pipeline.yml

config
  llmops/common/scripts/az_webapp_deploy.sh
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/test_pipeline.yml

added devops config
  class_flows/.azure-pipelines/class_flows_ci_dev_pipeline.yml
  flex_flows/.azure-pipelines/flex_flows_ci_dev_pipeline.yml
  math_coding/.azure-pipelines/math_coding_ci_dev_pipeline.yml
Due: none

config
  .azure-pipelines/platform_ci_dev_pipeline.yml
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

config
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/test_pipeline.yml

config
  chat_with_pdf/experiment.yaml
  llmops/common/create_connections.py
  llmops/common/scripts/gen_docker_image.sh
  math_coding/experiment.dev.yaml
  named_entity_recognition/experiment.yaml
  web_classification/experiment.yaml
Due: .azure-pipelines/test_pipeline.yml

config
  llmops/common/create_connections.py
  llmops/common/prompt_local_connections.py
Due: .azure-pipelines/test_pipeline.yml

config
  llmops/common/prompt_local_connections.py
  llmops/common/scripts/az_webapp_deploy.sh
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/test_pipeline.yml

config
  class_flows/configs/deployment_config.json
  llmops/common/scripts/az_webapp_deploy.sh
Due: .azure-pipelines/test_pipeline.yml

config
  chat_with_pdf/experiment.yaml
  class_flows/experiment.yaml
  flex_flows/experiment.yaml
  llmops/common/create_connections.py
  math_coding/experiment.dev.yaml
  math_coding/experiment.yaml
  named_entity_recognition/experiment.yaml
  web_classification/experiment.yaml
Due: .azure-pipelines/test_pipeline.yml

docs
  .github/workflows/build_validation_workflow.yml
  README.md
  docs/experiment.yaml
  docs/github_workflows_how_to_setup.md
  flex_flows/experiment.yaml
  flex_flows/flows/eval-flow/eval_custom.py
  llmops/common/create_connections.py
  tests/test_run_evaluation_flow.py
Due: .azure-pipelines/test_pipeline.yml

function flow
  .github/workflows/flex_flows_ci_dev_workflow.yml
  .github/workflows/flex_flows_pr_dev_workflow.yml
  function_flows/.azure-pipelines/flex_flows_ci_dev_pipeline.yml
  function_flows/.azure-pipelines/flex_flows_pr_dev_pipeline.yml
  function_flows/__init__.py
  function_flows/configs/deployment_config.json
  function_flows/data/data.jsonl
  function_flows/data/data_test.jsonl
  function_flows/environment/Dockerfile
  function_flows/environment/conda.yml
  function_flows/environment/env.yaml
  function_flows/experiment.dev.yaml
  function_flows/experiment.pr.yaml
  function_flows/experiment.yaml
  function_flows/flows/__init__.py
  function_flows/flows/basic/__init__.py
  function_flows/flows/basic/docker/dockerfile
  function_flows/flows/basic/flow.flex.yaml
  function_flows/flows/basic/hello.jinja2
  function_flows/flows/basic/llm.py
  function_flows/flows/basic/paths.py
  function_flows/flows/basic/programmer.py
  function_flows/flows/basic/requirements.txt
  function_flows/flows/basic/run.yml
  function_flows/flows/eval-code-quality/README.md
  function_flows/flows/eval-code-quality/code_quality.py
  function_flows/flows/eval-code-quality/eval_code_quality.prompty
  function_flows/flows/eval-code-quality/flow.flex.yaml
  function_flows/flows/eval-code-quality/init.json
  function_flows/flows/eval-code-quality/requirements.txt
  function_flows/flows/eval-code-quality/sample.json
  function_flows/flows/eval-flow/eval_custom.py
  function_flows/sample-request.json
  function_flows/tests/test_delete_this_file.py
Due: none

remove con secret
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .azure-pipelines/templates/prepare_docker_image.yml
  .azure-pipelines/templates/webapp_deployment.yml
  .github/workflows/chat_with_pdf_ci_dev_workflow.yml
  .github/workflows/class_flows_ci_dev_workflow.yml
  .github/workflows/flex_flows_ci_dev_workflow.yml
  .github/workflows/math_coding_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/platform_cd_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
  .github/workflows/web_classification_ci_dev_workflow.yml
  chat_with_pdf/.azure-pipelines/chat_with_pdf_ci_dev_pipeline.yml
  class_flows/.azure-pipelines/class_flows_ci_dev_pipeline.yml
  function_flows/.azure-pipelines/flex_flows_ci_dev_pipeline.yml
  llmops/common/prompt_local_connections.py
  llmops/common/scripts/az_webapp_deploy.sh
  llmops/common/scripts/gen_docker_image.sh
  math_coding/.azure-pipelines/math_coding_ci_dev_pipeline.yml
  named_entity_recognition/.azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml
  web_classification/.azure-pipelines/web_classification_ci_dev_pipeline.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

done with changes
  docs/Azure_devops_how_to_setup.md
  docs/github_workflows_how_to_setup.md
  llmops/common/scripts/az_webapp_deploy.sh
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/test_pipeline.yml

upper
  llmops/common/common.py
  llmops/common/create_connections.py
  llmops/common/deployment/generate_config.py
  llmops/config.py
Due: .azure-pipelines/test_pipeline.yml

azdo pipeline changes for flex flows
  .azure-pipelines/build_validation_pipeline.yml
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .azure-pipelines/platform_pr_dev_pipeline.yml
  .azure-pipelines/requirements/build_validation_requirements.txt
  .azure-pipelines/requirements/execute_job_requirements.txt
  .azure-pipelines/templates/aml_real_deployment.yml
  .azure-pipelines/templates/configure_azureml_agent.yml
  .azure-pipelines/templates/kubernetes_deployment.yml
  .azure-pipelines/templates/prepare_docker_image.yml
  .azure-pipelines/templates/webapp_deployment.yml
  .azure-pipelines/web_classification_pf_in_aml_pipeline_workflow.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

github workflow changes for flex flows
  .github/actions/aml_real_deployment/action.yml
  .github/actions/configure_azureml_agent/action.yml
  .github/actions/kubernetes_deployment/action.yml
  .github/actions/webapp_deployment/action.yml
  .github/requirements/build_validation_requirements.txt
  .github/requirements/execute_job_requirements.txt
  .github/workflows/build_validation_workflow.yml
  .github/workflows/chat_with_pdf_pr_dev_workflow.yml
  .github/workflows/class_flows_ci_dev_workflow.yml
  .github/workflows/class_flows_pr_dev_workflow.yml
  .github/workflows/flex_flows_ci_dev_workflow.yml
  .github/workflows/flex_flows_pr_dev_workflow.yml
  .github/workflows/math_coding_ci_dev_workflow.yml
  .github/workflows/math_coding_pr_dev_workflow.yml
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_data_aml_cd_workflow.yml
  .github/workflows/named_entity_recognition_post_prod_eval.yml
  .github/workflows/platform_cd_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
  .github/workflows/web_classification_ci_dev_workflow.yml
  .github/workflows/web_classification_pf_in_aml_pipeline_workflow.yml
  .github/workflows/web_classification_pr_dev_workflow.yml
Due: none

Path conditions:
  .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition, src/shared
  .azure-pipelines/test_pipeline.yml: any of: .azure-pipelines, llmops, named_entity_recognition
  .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification, src/shared
  .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification
