Repository microsoft/genaiops-promptflow-template: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Path conditions:
  .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition, src/shared
  .azure-pipelines/test_pipeline.yml: any of: .azure-pipelines, llmops, named_entity_recognition
  .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification, src/shared
  .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification

env var bug fixes and doc updates
  .github/workflows/platform_cd_dev_workflow.yml
  docs/Azure_devops_how_to_setup.md
  docs/github_workflows_how_to_setup.md
  llmops/common/create_connections.py
  llmops/common/deployment/generate_env_vars.py
  web_classification/flows/__init_-.py
  web_classification/flows/__init__.py
Due: .azure-pipelines/test_pipeline.yml

Jenkins docs update
  docs/jenkins_how_to_setup.md
Due: none

faqs added
  README.md
  docs/Azure_devops_how_to_setup.md
  docs/faqs.md
  docs/github_workflows_how_to_setup.md
  docs/jenkins_how_to_setup.md
Due: none

faqs added
  docs/jenkins_how_to_setup.md
Due: none

Only create the endpoint if it does not already exist, fixes #182
  llmops/common/deployment/provision_endpoint.py
  tests/test_create_aml_endpoint.py
Due: .azure-pipelines/test_pipeline.yml

c
  llmops/common/get_workspace.py
  llmops/common/register_data_asset.py
Due: .azure-pipelines/test_pipeline.yml

test
  llmops/common/create_connections.py
  llmops/common/deployment/provision_endpoint.py
  named_entity_recognition/configs/deployment_config.json
  tests/test_create_aml_deployment.py
  tests/test_create_aml_endpoint.py
  tests/test_create_kubernetes_deployment.py
Due: .azure-pipelines/test_pipeline.yml

flake8 fix
  llmops/common/deployment/provision_endpoint.py
Due: .azure-pipelines/test_pipeline.yml

flake8 fix
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/platform_cd_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

flake8 fix
  .github/actions/aml_real_deployment/action.yml
Due: none

flake8 fix
  named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

env var fixes, custom connection impl
  .github/workflows/function_flows_ci_dev_workflow.yml
  .github/workflows/function_flows_pr_dev_workflow.yml
  docs/faqs.md
  function_flows/configs/deployment_config.json
  llmops/common/common.py
  llmops/common/create_connections.py
  llmops/common/deployment/generate_env_vars.py
  llmops/common/experiment.py
  llmops/config.py
  named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

env var fixes, converting to string
  llmops/common/common.py
  llmops/common/deployment/generate_env_vars.py
Due: .azure-pipelines/test_pipeline.yml

env var fixes, converting to string
  function_flows/configs/deployment_config.json
Due: none

changed code
  named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

more changes
  named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

removed test values for deployment
  function_flows/configs/deployment_config.json
  named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

style: Simple error message update
  web_classification/tests/test_delete_this_file.py
Due: none

style: Simple error message update
  chat_with_pdf/flows/evaluation/parse_generation_score.py
Due: none

fix: replace English with Korean
  chat_with_pdf/flows/evaluation/rag_generation_prompt.jinja2
Due: none

'none' as option for deployment_type in CI pipelines
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .github/workflows/platform_ci_dev_workflow.yml
  .jenkins/pipelines/platform_ci_dev
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

changed code
  named_entity_recognition/configs/deployment_config.json
  web_classification/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml
