Repository microsoft/genaiops-promptflow-template: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Path conditions:
  .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition, src/shared
  .azure-pipelines/test_pipeline.yml: any of: .azure-pipelines, llmops, named_entity_recognition
  .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification, src/shared
  .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification

changed code
  web_classification/configs/deployment_config.json
Due: none

Update deployment_config.json
  web_classification/configs/deployment_config.json
Due: none

'none' as additional option for deployment_type in CI pipelines (#190)
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .github/workflows/platform_ci_dev_workflow.yml
  .jenkins/pipelines/platform_ci_dev
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Update deployment_config.json
  math_coding/configs/deployment_config.json
Due: none

changed code
  named_entity_recognition/configs/deployment_config.json
  web_classification/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

changed code
  named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

removed aml Assign Azure resource permissions
  .github/actions/aml_real_deployment/action.yml
Due: none

changed endpoint name
  named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

added current and new endpoint names
  named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

added current and new endpoint namesin WC
  named_entity_recognition/configs/deployment_config.json
  web_classification/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

Changed the Deployment VM size to F4s_vs in WC
  web_classification/configs/deployment_config.json
Due: none

workflow_dispatch in web classification
  .github/workflows/web_classification_pr_dev_workflow.yml
Due: none

Changed name of endpoint to non-numeric value
  web_classification/configs/deployment_config.json
Due: none

Changed name of endpoint
  web_classification/configs/deployment_config.json
Due: none

changes
  .devcontainer/devcontainer.json
  .gitignore
  infra/main.bicep
  infra/modules/ai-hub.bicep
  infra/modules/dependent-resources.bicep
Due: none

Changed name of endpoint
  .github/workflows/chat_with_pdf_ci_dev_workflow.yml
  .github/workflows/chat_with_pdf_pr_dev_workflow.yml
  .github/workflows/class_flows_ci_dev_workflow.yml
  .github/workflows/class_flows_pr_dev_workflow.yml
  .github/workflows/flex_flows_ci_dev_workflow.yml
  .github/workflows/flex_flows_pr_dev_workflow.yml
  .github/workflows/math_coding_ci_dev_workflow.yml
  .github/workflows/math_coding_pr_dev_workflow.yml
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_data_aml_cd_workflow.yml
  .github/workflows/named_entity_recognition_post_prod_eval.yml
  .github/workflows/named_entity_recognition_pr_dev_workflow.yml
Due: none

Deleted all unwanted workflows
  .github/workflows/chat_with_pdf_ci_dev_workflow.yml
  .github/workflows/chat_with_pdf_pr_dev_workflow.yml
  .github/workflows/class_flows_ci_dev_workflow.yml
  .github/workflows/class_flows_pr_dev_workflow.yml
  .github/workflows/flex_flows_ci_dev_workflow.yml
  .github/workflows/flex_flows_pr_dev_workflow.yml
  .github/workflows/math_coding_ci_dev_workflow.yml
  .github/workflows/math_coding_pr_dev_workflow.yml
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_data_aml_cd_workflow.yml
  .github/workflows/named_entity_recognition_post_prod_eval.yml
  .github/workflows/named_entity_recognition_pr_dev_workflow.yml
Due: none

Deleted all unwanted prompts and changed deployment name
  web_classification/configs/deployment_config.json
Due: none

ready code
  README.md
Due: none

changed deployment name
  web_classification/configs/deployment_config.json
Due: none

Add logging to resolve_env_vars()
  .github/workflows/chat_with_pdf_ci_dev_workflow.yml
  .github/workflows/class_flows_ci_dev_workflow.yml
  llmops/common/common.py
  llmops/common/deployment/kubernetes_deployment.py
  llmops/common/deployment/provision_deployment.py
  llmops/common/prompt_eval.py
  llmops/common/prompt_pipeline.py
  llmops/config.py
Due: .azure-pipelines/test_pipeline.yml

Remove uppercase conversion from envvar value
  llmops/common/common.py
Due: .azure-pipelines/test_pipeline.yml

Fix typo class_flows PR workflow
  .github/workflows/class_flows_pr_dev_workflow.yml
Due: none

workflow_dispatch in all usecases CI workflows
  .github/workflows/class_flows_ci_dev_workflow.yml
  .github/workflows/math_coding_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
Due: none

Cleanup
  .github/workflows/chat_with_pdf_ci_dev_workflow.yml
  .github/workflows/class_flows_ci_dev_workflow.yml
  .github/workflows/web_classification_pr_dev_workflow.yml
  llmops/common/common.py
  llmops/config.py
Due: .azure-pipelines/test_pipeline.yml

env references in uppercase in docs
  docs/faqs.md
Due: none
