Repository microsoft/genaiops-promptflow-template: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Path conditions:
  .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition, src/shared
  .azure-pipelines/test_pipeline.yml: any of: .azure-pipelines, llmops, named_entity_recognition
  .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification, src/shared
  .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification

install missed libs 2
  .github/actions/configure_azureml_agent/action.yml
Due: none

chaged code
  named_entity_recognition/configs/deployment_config.json
  named_entity_recognition/llmops_config.json
Due: .azure-pipelines/test_pipeline.yml

turned off strean in OAIChat
  chat_with_pdf/flows/standard/chat_with_pdf/utils/oai.py
Due: none

turned off stream in OAIChat
  chat_with_pdf/flows/standard/chat_with_pdf/utils/oai.py
Due: none

removed aml configs
  chat_with_pdf/configs/deployment_config.json
  chat_with_pdf/llmops_config.json
Due: none

testing automatic runtime provisioning
  named_entity_recognition/llmops_config.json
Due: .azure-pipelines/test_pipeline.yml

testing runtime config again
  named_entity_recognition/llmops_config.json
Due: .azure-pipelines/test_pipeline.yml

deleted other pipelines
  .azure-pipelines/build_validation_pipeline.yml
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .azure-pipelines/platform_pr_dev_pipeline.yml
  .azure-pipelines/requirements/build_validation_requirements.txt
  .azure-pipelines/requirements/execute_job_requirements.txt
  .azure-pipelines/templates/aml_real_deployment.yml
  .azure-pipelines/templates/configure_azureml_agent.yml
  .azure-pipelines/templates/execute_python_code.yml
  .azure-pipelines/templates/get_connection_details.yml
  .azure-pipelines/templates/kubernetes_deployment.yml
  .azure-pipelines/templates/prepare_docker_image.yml
  .azure-pipelines/templates/webapp_deployment.yml
  .jenkins/jobs/aml_real_deployment
  .jenkins/jobs/build_validation
  .jenkins/jobs/kubernetes_deployment
  .jenkins/jobs/prepare_docker_image
  .jenkins/jobs/webapp_deployment
  .jenkins/pipelines/math_coding_ci_dev
  .jenkins/pipelines/math_coding_pr_dev
  .jenkins/pipelines/named_entity_recognition_ci_dev
  .jenkins/pipelines/named_entity_recognition_pr_dev
  .jenkins/pipelines/platform_cd_dev
  .jenkins/pipelines/platform_ci_dev
  .jenkins/pipelines/platform_pr_dev
  .jenkins/pipelines/web_classification_ci_dev
  .jenkins/pipelines/web_classification_pr_dev
  .jenkins/requirements/build_validation_requirements.txt
  .jenkins/requirements/execute_job_requirements.txt
  .jenkins/shared-library/vars/azureLogin.groovy
  .jenkins/shared-library/vars/installRequirements.groovy
  docs/Azure_devops_how_to_setup.md
  docs/jenkins_how_to_setup.md
  math_coding/.azure-pipelines/math_coding_ci_dev_pipeline.yml
  math_coding/.azure-pipelines/math_coding_pr_dev_pipeline.yml
  named_entity_recognition/.azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml
  named_entity_recognition/.azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml
  named_entity_recognition/configs/deployment_config.json
  web_classification/.azure-pipelines/web_classification_ci_dev_pipeline.yml
  web_classification/.azure-pipelines/web_classification_pr_dev_pipeline.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

onboarded new flow
  user_approval_flow/flows/standard/groundtruth.py
Due: none

removed executing unit tests
  .github/workflows/build_validation_workflow.yml
Due: none

Create python-package.-dummy.yml
  .github/workflows/python-package.-dummyyml
Due: none

test
  named_entity_recognition/llmops_config.json
Due: .azure-pipelines/test_pipeline.yml

added missed pachages for RAG
  .azure-pipelines/templates/configure_azureml_agent.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

added config to deploy webapp
  chat_with_pdf/configs/deployment_config.json
Due: none

set llmops configs
  chat_with_pdf/llmops_config.json
Due: none

copy conenctions folder for docker
  chat_with_pdf/environment/Dockerfile
Due: none

Update Dockerfile
  chat_with_pdf/environment/Dockerfile
Due: none

Create pf_in_aml_pipeline_workflow.yml
  .github/workflows/pf_in_aml_pipeline_workflow.yml
Due: none

Small big fix
  llmops/common/prompt_local_connections.py
Due: .azure-pipelines/test_pipeline.yml

Address Review comments
  docs/Azure_devops_how_to_setup.md
  docs/image.png
Due: none

Undo image.png delete
  docs/image.png
Due: none

Delete unused image.png
  docs/image.png
Due: none

Highlight important doc section
  docs/Azure_devops_how_to_setup.md
Due: none

highlight Important
  docs/Azure_devops_how_to_setup.md
Due: none

Add tests
  llmops/common/experiment.py
  tests/resources/experiment.dev0.yaml
  tests/resources/experiment.dev1.yaml
  tests/resources/experiment.dev2.yaml
  tests/resources/experiment.dev3.yaml
  tests/resources/experiment.yaml
  tests/resources/flows/exp_flow/flow.dag.yaml
  tests/resources/model_version.txt
  tests/resources/run_ids.txt
  tests/test_experiment.py
Due: .azure-pipelines/test_pipeline.yml

Design v1
  .gitignore
  llmops/common/experiment.py
  named_entity_recognition/.env
  named_entity_recognition/experiment-1/experiment.dev.yaml
  named_entity_recognition/experiment-1/experiment.postprodeval.yaml
  named_entity_recognition/experiment-1/experiment.pr.yaml
  named_entity_recognition/experiment-1/experiment.yaml
  named_entity_recognition/experiment-2/experiment-2.yaml
  named_entity_recognition/experiment-2/experiment-postprod-2.yaml
  named_entity_recognition/experiment-3/experiment-postprod.yaml
  named_entity_recognition/experiment-3/experiment.dev.yaml
  named_entity_recognition/experiment-3/experiment.pr.yaml
  named_entity_recognition/experiment-3/experiment.yaml
Due: .azure-pipelines/test_pipeline.yml

read runtime
  llmops/common/experiment.py
  llmops/common/experiment_cloud_config.py
  llmops/common/get_workspace.py
  tests/resources/experiment.dev0.yaml
  tests/resources/experiment.dev2.yaml
  tests/resources/experiment.yaml
  tests/test_experiment.py
  tests/test_experiment_cloud_config.py
Due: .azure-pipelines/test_pipeline.yml

Modifying llmops folder
  llmops/common/common.py
  llmops/common/experiment.py
  llmops/common/experiment_cloud_config.py
  llmops/common/get_workspace.py
  llmops/common/prompt_local_connections.py
  llmops/common/prompt_pipeline.py
  llmops/common/register_data_asset.py
  named_entity_recognition/.env
  named_entity_recognition/experiment.yaml
  tests/test_experiment.py
  tests/test_experiment_cloud_config.py
Due: .azure-pipelines/test_pipeline.yml

small fix
  llmops/common/deployment/register_model.py
Due: .azure-pipelines/test_pipeline.yml

make required changes to deployment (untested)
  llmops/common/deployment/kubernetes_deployment.py
  llmops/common/deployment/kubernetes_endpoint.py
  llmops/common/deployment/provision_deployment.py
  llmops/common/deployment/provision_endpoint.py
  llmops/common/deployment/test_model_on_aml.py
  llmops/common/deployment/test_model_on_kubernetes.py
  tests/test_experiment.py
Due: .azure-pipelines/test_pipeline.yml

Add extra variant
  llmops/common/prompt_pipeline.py
  named_entity_recognition/experiment-1/experiment.dev.yaml
  named_entity_recognition/experiment-1/experiment.postprodeval.yaml
  named_entity_recognition/experiment-1/experiment.pr.yaml
  named_entity_recognition/experiment-1/experiment.yaml
  named_entity_recognition/experiment-2/experiment-2.yaml
  named_entity_recognition/experiment-3/experiment-postprod.yaml
  named_entity_recognition/experiment-3/experiment.dev.yaml
  named_entity_recognition/experiment-3/experiment.yaml
  named_entity_recognition/experiment-postprod.yaml
  named_entity_recognition/experiment.dev.yaml
  named_entity_recognition/experiment.pr.yaml
  named_entity_recognition/flows/standard/.promptflow/flow.tools.json
  named_entity_recognition/flows/standard/NER_LLM.jinja2
  named_entity_recognition/flows/standard/NER_LLM_v2.jinja2
  named_entity_recognition/flows/standard/flow.dag.yaml
Due: .azure-pipelines/test_pipeline.yml

Clean up and first changes to Azure devops
  .azure-pipelines/build_validation_pipeline.yml
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .azure-pipelines/platform_pr_dev_pipeline.yml
  .azure-pipelines/templates/aml_real_deployment.yml
  .azure-pipelines/templates/kubernetes_deployment.yml
  .azure-pipelines/templates/prepare_docker_image.yml
  .azure-pipelines/templates/webapp_deployment.yml
  .github/actions/aml_real_deployment/action.yml
  .github/actions/kubernetes_deployment/action.yml
  .github/actions/prepare_docker_image/action.yml
  .github/workflows/named_entity_recognition_post_prod_eval.yml
  llmops/common/deployment/test_local_flow.py
  llmops/common/prompt_local_connections.py
  llmops/common/register_data_asset.py
  llmops/common/scripts/gen_docker_image.sh
  math_coding/.azure-pipelines/math_coding_ci_dev_pipeline.yml
  math_coding/.azure-pipelines/math_coding_pr_dev_pipeline.yml
  named_entity_recognition/.azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml
  named_entity_recognition/.azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml
  web_classification/.azure-pipelines/web_classification_ci_dev_pipeline.yml
  web_classification/.azure-pipelines/web_classification_pr_dev_pipeline.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Fixes after manual tests
  llmops/common/experiment.py
  llmops/common/prompt_pipeline.py
  named_entity_recognition/experiment.yaml
  tests/test_experiment.py
Due: .azure-pipelines/test_pipeline.yml

fix second pipeline
  .github/workflows/math_coding_pr_dev_workflow.yml
  math_coding/experiment.dev.yaml
  math_coding/experiment.pr.yaml
  math_coding/experiment.yaml
Due: none
