Repository microsoft/genaiops-promptflow-template: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

.azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ../platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ../platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/test_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: deploy_prompts
    displayName: deploy_prompts
    jobs:
    - job: Execute_ml_Job_Pipeline
      steps:
      - ${{ if eq('webapp', lower(parameters.deployment_type)) }}:
        - template: templates/webapp_deployment.yml
          parameters:
  ...

.azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ../platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ../platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

update doc
  docs/how_to_configure_dataops.md
Due: none

update
  docs/Azure_devops_how_to_setup.md
  docs/github_workflows_how_to_setup.md
  pf_aml_pipeline/components/postprocess.py
  pf_aml_pipeline/components/preprocess.py
  pf_aml_pipeline/experiment_cloud_config.py
  pf_aml_pipeline/promptflow_in_aml_pipeline.py
Due: none

update logger and other common files
  pf_aml_pipeline/experiment.py
  pf_aml_pipeline/logger.py
  pf_aml_pipeline/promptflow_in_aml_pipeline.py
Due: none

update python script path in yml
  .azure-pipelines/web_classification_pf_in_aml_pipeline_workflow.yml
  .github/workflows/web_classification_pf_in_aml_pipeline_workflow.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

add diff files for diff use cases for cicid of pf in aml
  .azure-pipelines/math_coding_pf_in_aml_pipeline_workflow.yml
  .azure-pipelines/named_entity_recognition_pf_in_aml_pipeline_workflow.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

restore common files
  .azure-pipelines/math_coding_pf_in_aml_pipeline_workflow.yml
  .azure-pipelines/named_entity_recognition_pf_in_aml_pipeline_workflow.yml
  llmops/common/experiment_cloud_config.py
  pf_aml_pipeline/experiment.py
  pf_aml_pipeline/experiment_cloud_config.py
  pf_aml_pipeline/logger.py
  pf_aml_pipeline/promptflow_in_aml_pipeline.py
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

path changes as per new folder structure
  pf_aml_pipeline/promptflow_in_aml_pipeline.py
Due: none

path changes as per new folder structure
  .azure-pipelines/web_classification_pf_in_aml_pipeline_workflow.yml
  .github/workflows/web_classification_pf_in_aml_pipeline_workflow.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Update github_workflows_how_to_setup.md
  docs/github_workflows_how_to_setup.md
Due: none

Update Azure_devops_how_to_setup.md
  docs/Azure_devops_how_to_setup.md
Due: none

DataOps for LLMOps - AML Sample (#126)
  .github/workflows/named_entity_recognition_data_aml_cd_workflow.yml
  README.md
  dataops/__init__.py
  dataops/common/__init__.py
  dataops/common/aml_data_asset.py
  dataops/common/aml_data_store.py
  dataops/common/aml_pipeline.py
  docs/how_to_configure_dataops.md
  docs/images/dataops_llmops.png
  named_entity_recognition/configs/dataops_config.json
  named_entity_recognition/data/source.txt
  named_entity_recognition/data_pipelines/aml/prep_data.py
  named_entity_recognition/environment/conda.yml
Due: .azure-pipelines/test_pipeline.yml

Development Sync To Master : Data ops Addition & ChatWithPdf Example (#148)
  .github/workflows/named_entity_recognition_data_aml_cd_workflow.yml
  README.md
  dataops/__init__.py
  dataops/common/__init__.py
  dataops/common/aml_data_asset.py
  dataops/common/aml_data_store.py
  dataops/common/aml_pipeline.py
  docs/how_to_configure_dataops.md
  docs/images/dataops_llmops.png
  named_entity_recognition/configs/dataops_config.json
  named_entity_recognition/data/source.txt
  named_entity_recognition/data_pipelines/aml/prep_data.py
  named_entity_recognition/environment/conda.yml
Due: .azure-pipelines/test_pipeline.yml

PF in aml pipeline - github actions/azdo pipelines (#145)
  .azure-pipelines/web_classification_pf_in_aml_pipeline_workflow.yml
  .github/workflows/web_classification_pf_in_aml_pipeline_workflow.yml
  docs/Azure_devops_how_to_setup.md
  docs/github_workflows_how_to_setup.md
  llmops/common/experiment_cloud_config.py
  pf_aml_pipeline/components/postprocess.py
  pf_aml_pipeline/components/preprocess.py
  pf_aml_pipeline/promptflow_in_aml_pipeline.py
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

PR for Promptflow in AML , Merging code from Dev to Main (#149)
  .azure-pipelines/web_classification_pf_in_aml_pipeline_workflow.yml
  .github/workflows/web_classification_pf_in_aml_pipeline_workflow.yml
  docs/Azure_devops_how_to_setup.md
  docs/github_workflows_how_to_setup.md
  llmops/common/experiment_cloud_config.py
  pf_aml_pipeline/components/postprocess.py
  pf_aml_pipeline/components/preprocess.py
  pf_aml_pipeline/promptflow_in_aml_pipeline.py
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

update for latest changes
  .devcontainer/requirements.txt
  chat_with_pdf/llmops_config.yaml
  llmops/common/config_utils.py
  llmops/common/deployment/kubernetes_deployment.py
  llmops/common/deployment/kubernetes_endpoint.py
  llmops/common/deployment/provision_deployment.py
  llmops/common/deployment/provision_endpoint.py
  llmops/common/deployment/register_model.py
  llmops/common/deployment/test_model_on_aml.py
  llmops/common/deployment/test_model_on_kubernetes.py
  llmops/common/prompt_eval.py
  llmops/common/prompt_pipeline.py
  llmops/common/register_data_asset.py
  llmops/common/scripts/az_webapp_deploy.sh
  llmops/common/scripts/gen_docker_image.sh
  local_execution/math_coding_local_experiment.py
  local_execution/named_entity_local_experiment.py
  local_execution/web_classification_local_experiment.py
  named_entity_recognition/configs/llmops_config.yaml
  named_entity_recognition/llmops_config.yaml
  pf_aml_pipeline/promptflow_in_aml_pipeline.py
  plan_and_execute/configs/deployment_config.json
  plan_and_execute/llmops_config.yaml
  web_classification/configs/llmops_config.yaml
  web_classification/llmops_config.yaml
Due: .azure-pipelines/test_pipeline.yml

update docs
  .env.sample
  README.md
  chat_with_pdf/configs/deployment_config.json
  chat_with_pdf/experiment.pr.yaml
  chat_with_pdf/experiment.yaml
  docs/how_to_onboard_new_flows.md
  docs/llmops_config.yaml
  docs/the_llmopsconfig_file.md
  docs/tutorial/04-Patterns.md
  env.sample
  math_coding/experiment.dev.yaml
  math_coding/experiment.pr.yaml
  math_coding/experiment.yaml
  named_entity_recognition/experiment-postprod.yaml
  named_entity_recognition/experiment.dev.yaml
  named_entity_recognition/experiment.pr.yaml
  named_entity_recognition/experiment.yaml
  pf_aml_pipeline/promptflow_in_aml_pipeline.py
  plan_and_execute/configs/deployment_config.json
  plan_and_execute/llmops_config.json
  web_classification/experiment.dev.yaml
  web_classification/experiment.pr.yaml
  web_classification/experiment.yaml
Due: .azure-pipelines/test_pipeline.yml

fix: updated config
  math_coding/configs/deployment_config.json
  named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

fix: updated description
  chat_with_pdf/configs/deployment_config.json
  plan_and_execute/configs/deployment_config.json
Due: none

Publish flow feature
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .azure-pipelines/templates/publish_promptflow.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

mandetory files
  LICENSE
  SECURITY.md
Due: none

Update README.md
  README.md
Due: none

added translator_expression github workflow
  .github/workflows/translator_expression_ci_dev_workflow.yml
  .github/workflows/translator_expression_pf_in_aml_pipeline_workflow.yml
  .github/workflows/translator_expression_pr_dev_workflow.yml
Due: none

workflow modifications
  .github/workflows/chat_with_pdf_ci_dev_workflow.yml
  .github/workflows/chat_with_pdf_pr_dev_workflow.yml
  .github/workflows/math_coding_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_pr_dev_workflow.yml
  .github/workflows/test_pr_dev_workflow.yml
  .github/workflows/web_classification_ci_dev_workflow.yml
  .github/workflows/web_classification_pr_dev_workflow.yml
Due: none

workflow modifications
  .azure-pipelines/requirements/build_validation_requirements.txt
  .azure-pipelines/requirements/execute_job_requirements.txt
  .github/requirements/build_validation_requirements.txt
  .github/requirements/execute_job_requirements.txt
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

workflow modifications
  .github/workflows/platform_pr_dev_workflow.yml
  .github/workflows/test_pr_dev_workflow.yml
Due: none

workflow modifications
  llmops/config.py
Due: .azure-pipelines/test_pipeline.yml

workflow modifications
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

workflow modifications
  .github/requirements/build_validation_requirements.txt
Due: none

workflow modifications
  .github/requirements/build_validation_requirements.txt
  .github/requirements/execute_job_requirements.txt
Due: none

workflow modifications
  .github/workflows/platform_pr_dev_workflow.yml
  llmops/config.py
Due: .azure-pipelines/test_pipeline.yml

workflow modifications
  .github/workflows/platform_cd_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
  .github/workflows/test_ci_dev_workflow.yml
  flex-flows/configs/deployment_config.json
Due: none

workflow modifications
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

Path conditions:
  .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition, src/shared
  .azure-pipelines/test_pipeline.yml: any of: .azure-pipelines, llmops, named_entity_recognition
  .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification, src/shared
  .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification
