Repository microsoft/genaiops-promptflow-template: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Path conditions:
  .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition, src/shared
  .azure-pipelines/test_pipeline.yml: any of: .azure-pipelines, llmops, named_entity_recognition
  .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification, src/shared
  .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification

updates to chat_with_pdf use-case
  chat_with_pdf/.azure-pipelines/chat_with_pdf_ci_dev_pipeline.yml
  chat_with_pdf/.azure-pipelines/chat_with_pdf_pr_dev_pipeline.yml
  chat_with_pdf/configs/deployment_config.json
  chat_with_pdf/environment/env.yaml
  chat_with_pdf/experiment.yaml
  chat_with_pdf/flows/evaluation/aggregate_variants_results.py
  chat_with_pdf/flows/evaluation/concat_scores.py
  chat_with_pdf/flows/evaluation/parse_generation_score.py
  chat_with_pdf/flows/evaluation/parse_groundedness_score.py
  chat_with_pdf/flows/evaluation/parse_retrival_score.py
  chat_with_pdf/flows/evaluation/select_metrics.py
  chat_with_pdf/flows/evaluation/validate_input.py
  chat_with_pdf/flows/standard/build_index_tool.py
  chat_with_pdf/flows/standard/chat_with_pdf/.index/.pdfs/https___arxiv.org_pdf_1810.04805.pdf.pdf.index_1024_64/index.faiss
  chat_with_pdf/flows/standard/chat_with_pdf/.index/.pdfs/https___arxiv.org_pdf_1810.04805.pdf.pdf.index_1024_64/index.pkl
  chat_with_pdf/flows/standard/chat_with_pdf/.pdfs/https___arxiv.org_pdf_1810.04805.pdf.pdf
  chat_with_pdf/flows/standard/chat_with_pdf_tool.py
  chat_with_pdf/flows/standard/download_tool.py
  chat_with_pdf/flows/standard/find_context_tool.py
  chat_with_pdf/flows/standard/qna_tool.py
  chat_with_pdf/flows/standard/rewrite_question_tool.py
  chat_with_pdf/flows/standard/setup_env.py
Due: none

updates to chat_with_pdf use-case
  chat_with_pdf/flows/standard/chat_with_pdf/.index/.pdfs/https___arxiv.org_pdf_1810.04805.pdf.pdf.index_1024_64/index.faiss
  chat_with_pdf/flows/standard/chat_with_pdf/.index/.pdfs/https___arxiv.org_pdf_1810.04805.pdf.pdf.index_1024_64/index.pkl
  chat_with_pdf/flows/standard/chat_with_pdf/.pdfs/https___arxiv.org_pdf_1810.04805.pdf.pdf
Due: none

adding an example of class based flow
  class_flows/.azure-pipelines/class_flows_ci_dev_pipeline.yml
  class_flows/.azure-pipelines/class_flows_pr_dev_pipeline.yml
  class_flows/__init__.py
  class_flows/configs/deployment_config.json
  class_flows/data/data.jsonl
  class_flows/data/data_test.jsonl
  class_flows/environment/Dockerfile
  class_flows/environment/conda.yml
  class_flows/environment/env.yaml
  class_flows/experiment.dev.yaml
  class_flows/experiment.pr.yaml
  class_flows/experiment.yaml
  class_flows/flows/__init__.py
  class_flows/flows/chat_basic/__init__.py
  class_flows/flows/chat_basic/chat.prompty
  class_flows/flows/chat_basic/docker/dockerfile
  class_flows/flows/chat_basic/flow.flex.yaml
  class_flows/flows/chat_basic/flow.py
  class_flows/flows/chat_basic/init.json
  class_flows/flows/chat_basic/paths.py
  class_flows/flows/chat_basic/requirements.txt
  class_flows/flows/chat_basic/run.yml
  class_flows/flows/chat_basic/sample.json
  class_flows/flows/eval_checklist/README.md
  class_flows/flows/eval_checklist/check_list.py
  class_flows/flows/eval_checklist/eval.prompty
  class_flows/flows/eval_checklist/flow.flex.yaml
  class_flows/flows/eval_checklist/init.json
  class_flows/flows/eval_checklist/requirements.txt
  class_flows/flows/eval_checklist/run.yml
  class_flows/flows/eval_checklist/sample.json
  class_flows/sample-request.json
  class_flows/tests/test_delete_this_file.py
Due: none

adding function based flows
  function_flows/.azure-pipelines/flex_flows_ci_dev_pipeline.yml
  function_flows/.azure-pipelines/flex_flows_pr_dev_pipeline.yml
  function_flows/__init__.py
  function_flows/configs/deployment_config.json
  function_flows/data/data.jsonl
  function_flows/data/data_test.jsonl
  function_flows/environment/Dockerfile
  function_flows/environment/conda.yml
  function_flows/environment/env.yaml
  function_flows/experiment.dev.yaml
  function_flows/experiment.pr.yaml
  function_flows/experiment.yaml
  function_flows/flows/__init__.py
  function_flows/flows/basic/__init__.py
  function_flows/flows/basic/docker/dockerfile
  function_flows/flows/basic/flow.flex.yaml
  function_flows/flows/basic/hello.jinja2
  function_flows/flows/basic/llm.py
  function_flows/flows/basic/paths.py
  function_flows/flows/basic/programmer.py
  function_flows/flows/basic/requirements.txt
  function_flows/flows/basic/run.yml
  function_flows/flows/eval-code-quality/README.md
  function_flows/flows/eval-code-quality/code_quality.py
  function_flows/flows/eval-code-quality/eval_code_quality.prompty
  function_flows/flows/eval-code-quality/flow.flex.yaml
  function_flows/flows/eval-code-quality/init.json
  function_flows/flows/eval-code-quality/requirements.txt
  function_flows/flows/eval-code-quality/sample.json
  function_flows/flows/eval-flow/eval_custom.py
  function_flows/sample-request.json
  function_flows/tests/test_delete_this_file.py
Due: none

updating llmops code for adapting flex flows
  llmops/common/common.py
  llmops/common/create_connections.py
  llmops/common/deployment/generate_config.py
  llmops/common/deployment/generate_env_vars.py
  llmops/common/deployment/kubernetes_deployment.py
  llmops/common/deployment/kubernetes_endpoint.py
  llmops/common/deployment/migrate_connections.py
  llmops/common/deployment/provision_deployment.py
  llmops/common/deployment/provision_endpoint.py
  llmops/common/deployment/register_model.py
  llmops/common/deployment/test_local_flow.py
  llmops/common/deployment/test_model_on_aml.py
  llmops/common/deployment/test_model_on_kubernetes.py
  llmops/common/experiment.py
  llmops/common/experiment_cloud_config.py
  llmops/common/get_workspace.py
  llmops/common/prompt_eval.py
  llmops/common/prompt_local_connections.py
  llmops/common/prompt_pipeline.py
  llmops/common/register_data_asset.py
  llmops/common/scripts/az_webapp_deploy.sh
  llmops/common/scripts/gen_docker_image.sh
  llmops/config.py
Due: .azure-pipelines/test_pipeline.yml

updating docs for flex flows
  docs/Azure_devops_how_to_setup.md
  docs/experiment.yaml
  docs/github_workflows_how_to_setup.md
Due: none

updating tests for the repo
  tests/resources/eval1/dummy.txt
  tests/resources/eval2/dummy.txt
  tests/resources/experiment.yaml
  tests/test_create_aml_deployment.py
  tests/test_create_aml_endpoint.py
  tests/test_create_kubernetes_deployment.py
  tests/test_create_kubernetes_endpoint.py
  tests/test_experiment.py
  tests/test_experiment_cloud_config.py
  tests/test_register_data.py
  tests/test_register_model.py
  tests/test_run_evaluation_flow.py
  tests/test_run_standard_flow.py
Due: none

updating use cases
  math_coding/.azure-pipelines/math_coding_ci_dev_pipeline.yml
  math_coding/.azure-pipelines/math_coding_pr_dev_pipeline.yml
  math_coding/configs/deployment_config.json
  math_coding/experiment.dev.yaml
  math_coding/experiment.yaml
  math_coding/flows/math_evaluation_flow/aggregate.py
  math_coding/flows/math_evaluation_flow/line_process.py
  math_coding/flows/math_standard_flow/code_execution.py
  math_coding/flows/math_standard_flow/code_refine.py
  math_coding/flows/math_standard_flow/math_example.py
  math_coding/sample-request.json
  named_entity_recognition/.azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml
  named_entity_recognition/.azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml
  named_entity_recognition/configs/deployment_config.json
  named_entity_recognition/experiment.yaml
  named_entity_recognition/flows/evaluation/cleansing.py
  named_entity_recognition/flows/evaluation/log_metrics.py
  named_entity_recognition/flows/evaluation/match.py
  named_entity_recognition/flows/post-production-evaluation/aggregate.py
  named_entity_recognition/flows/post-production-evaluation/concat_scores.py
  named_entity_recognition/flows/standard/cleansing.py
Due: .azure-pipelines/test_pipeline.yml

updated web_classification use-case
  web_classification/.azure-pipelines/web_classification_ci_dev_pipeline.yml
  web_classification/.azure-pipelines/web_classification_pr_dev_pipeline.yml
  web_classification/configs/deployment_config.json
  web_classification/data/eval_data_new.jsonl
  web_classification/experiment.yaml
  web_classification/flows/evaluation/grade.py
  web_classification/flows/evaluation_adv/grade.py
  web_classification/flows/experiment/convert_to_dict.py
  web_classification/flows/experiment/fetch_text_content_from_url.py
  web_classification/flows/experiment/prepare_examples.py
Due: none

updated readme.md
  README.md
Due: none

updated .gitignore file
  .gitignore
Due: none

removed local_execution
  local_execution/math_coding_local_experiment.py
  local_execution/named_entity_local_experiment.py
  local_execution/prompt_experimentation/__init__.py
  local_execution/prompt_experimentation/run_local.py
  local_execution/web_classification_local_experiment.py
Due: none

test docker and webapp
  chat_with_pdf/configs/deployment_config.json
  class_flows/configs/deployment_config.json
  function_flows/configs/deployment_config.json
  math_coding/configs/deployment_config.json
  named_entity_recognition/configs/deployment_config.json
  web_classification/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

removing test values
  chat_with_pdf/configs/deployment_config.json
  class_flows/configs/deployment_config.json
  function_flows/configs/deployment_config.json
  math_coding/configs/deployment_config.json
  named_entity_recognition/configs/deployment_config.json
  web_classification/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

doc bugs fix
  docs/Azure_devops_how_to_setup.md
  docs/github_workflows_how_to_setup.md
Due: none

github workflow changes for flex flows
  .github/actions/aml_real_deployment/action.yml
  .github/actions/configure_azureml_agent/action.yml
  .github/actions/kubernetes_deployment/action.yml
  .github/actions/webapp_deployment/action.yml
  .github/requirements/build_validation_requirements.txt
  .github/requirements/execute_job_requirements.txt
  .github/workflows/build_validation_workflow.yml
  .github/workflows/chat_with_pdf_pr_dev_workflow.yml
  .github/workflows/class_flows_ci_dev_workflow.yml
  .github/workflows/class_flows_pr_dev_workflow.yml
  .github/workflows/flex_flows_ci_dev_workflow.yml
  .github/workflows/flex_flows_pr_dev_workflow.yml
  .github/workflows/math_coding_ci_dev_workflow.yml
  .github/workflows/math_coding_pr_dev_workflow.yml
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_data_aml_cd_workflow.yml
  .github/workflows/named_entity_recognition_post_prod_eval.yml
  .github/workflows/platform_cd_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
  .github/workflows/web_classification_ci_dev_workflow.yml
  .github/workflows/web_classification_pf_in_aml_pipeline_workflow.yml
  .github/workflows/web_classification_pr_dev_workflow.yml
Due: none

azdo pipeline changes for flex flows
  .azure-pipelines/build_validation_pipeline.yml
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .azure-pipelines/platform_pr_dev_pipeline.yml
  .azure-pipelines/requirements/build_validation_requirements.txt
  .azure-pipelines/requirements/execute_job_requirements.txt
  .azure-pipelines/templates/aml_real_deployment.yml
  .azure-pipelines/templates/configure_azureml_agent.yml
  .azure-pipelines/templates/kubernetes_deployment.yml
  .azure-pipelines/templates/prepare_docker_image.yml
  .azure-pipelines/templates/webapp_deployment.yml
  .azure-pipelines/web_classification_pf_in_aml_pipeline_workflow.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Flex flow jenkin fixeS
  .jenkins/jobs/build_validation
  .jenkins/jobs/configure_azureml_agent
Due: none
