Repository microsoft/genaiops-promptflow-template: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Path conditions:
  .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition, src/shared
  .azure-pipelines/test_pipeline.yml: any of: .azure-pipelines, llmops, named_entity_recognition
  .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification, src/shared
  .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification

Array of assets
  named_entity_recognition/configs/dataops_config.json
Due: .azure-pipelines/test_pipeline.yml

Fixing default credentials
  dataops/common/aml_data_store.py
Due: none

Fixing default credentials
  .github/workflows/named_entity_recognition_data_aml_cd_workflow.yml
  dataops/common/aml_data_store.py
  dataops/common/aml_pipeline.py
  named_entity_recognition/configs/dataops_config.json
Due: .azure-pipelines/test_pipeline.yml

Fixing default credentials
  dataops/common/aml_pipeline.py
Due: none

Fixing default credentials
  named_entity_recognition/configs/dataops_config.json
Due: .azure-pipelines/test_pipeline.yml

Fixing default credentials
  .github/workflows/named_entity_recognition_data_aml_cd_workflow.yml
  dataops/common/aml_pipeline.py
  named_entity_recognition/configs/dataops_config.json
Due: .azure-pipelines/test_pipeline.yml

Fixing default credentials
  .github/workflows/named_entity_recognition_data_aml_cd_workflow.yml
  dataops/common/aml_pipeline.py
Due: none

testing aml pipeline
  dataops/common/aml_pipeline.py
  named_entity_recognition/configs/dataops_config.json
Due: .azure-pipelines/test_pipeline.yml

prog
  .github/workflows/named_entity_recognition_data_aml_cd_workflow.yml
  dataops/common/aml_data_store.py
  named_entity_recognition/configs/dataops_config.json
Due: .azure-pipelines/test_pipeline.yml

prog
  dataops/common/aml_data_store.py
Due: none

prog
  named_entity_recognition/configs/dataops_config.json
Due: .azure-pipelines/test_pipeline.yml

prog
  dataops/common/aml_data_store.py
  named_entity_recognition/configs/dataops_config.json
Due: .azure-pipelines/test_pipeline.yml

prog
  .github/workflows/named_entity_recognition_data_aml_cd_workflow.yml
  named_entity_recognition/configs/dataops_config.json
Due: .azure-pipelines/test_pipeline.yml

prog
  dataops/common/aml_data_asset.py
  dataops/common/aml_data_store.py
  dataops/common/aml_pipeline.py
  named_entity_recognition/configs/dataops_config.json
Due: .azure-pipelines/test_pipeline.yml

Use shared library for repeated steps (#27)
  .jenkins/jobs/aml_real_deployment
  .jenkins/jobs/build_validation
  .jenkins/jobs/configure_azureml_agent
  .jenkins/jobs/kubernetes_deployment
  .jenkins/jobs/prepare_docker_image
  .jenkins/jobs/webapp_deployment
  .jenkins/pipelines/platform_cd_dev
  .jenkins/pipelines/platform_ci_dev
  .jenkins/pipelines/platform_pr_dev
  .jenkins/shared-library/vars/azureLogin.groovy
  .jenkins/shared-library/vars/installRequirements.groovy
Due: none

remove feature ref from shared lib
  .jenkins/jobs/aml_real_deployment
  .jenkins/jobs/build_validation
  .jenkins/jobs/configure_azureml_agent
  .jenkins/jobs/kubernetes_deployment
  .jenkins/jobs/prepare_docker_image
  .jenkins/jobs/webapp_deployment
  .jenkins/pipelines/platform_cd_dev
  .jenkins/pipelines/platform_ci_dev
  .jenkins/pipelines/platform_pr_dev
Due: none

update doc for data pipeline
  docs/how_to_onboard_new_flows.md
  docs/images/dataops_llmops.png
Due: none

add jenkins doc and images (#29)
  docs/images/jenkins-credentials-dev-conn.png
  docs/images/jenkins-credentials.png
  docs/images/jenkins-pr-trigger.png
  docs/jenkins_how_to_setup.md
Due: none

Testing github jenkins
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/test_pipeline.yml

Testing github jenkins
  llmops/common/deployment/test_local_flow.py
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/test_pipeline.yml

undo nonneeded changes
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  named_entity_recognition/flows/standard/NER_LLM.jinja2
  named_entity_recognition/flows/standard/flow.dag.yaml
Due: .azure-pipelines/test_pipeline.yml

update doc for data pipeline
  docs/how_to_onboard_new_flows.md
Due: none

update doc for data pipeline
  named_entity_recognition/configs/dataops_config.json
Due: .azure-pipelines/test_pipeline.yml

Testing github jenkins
  llmops/common/scripts/az_webapp_deploy.sh
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/test_pipeline.yml

update req
  .azure-pipelines/requirements/build_validation_requirements.txt
  .azure-pipelines/requirements/execute_job_requirements.txt
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

update req
  .github/requirements/build_validation_requirements.txt
  .github/requirements/execute_job_requirements.txt
Due: none

revert wf
  .github/workflows/named_entity_recognition_pr_dev_workflow.yml
Due: none

revert wf
  docs/images/dataops.png
  llmops/common/prompt_pipeline.py
  math_coding/llmops_config.json
  named_entity_recognition/configs/deployment_config.json
  named_entity_recognition/llmops_config.json
  web_classification/llmops_config.json
Due: .azure-pipelines/test_pipeline.yml

revert wf
  named_entity_recognition/.azure-pipelines/named_entity_recognition_data_aml_cd_workflow.yml
  target.jsonl
Due: .azure-pipelines/test_pipeline.yml
