Repository microsoft/genaiops-promptflow-template: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Path conditions:
  .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition, src/shared
  .azure-pipelines/test_pipeline.yml: any of: .azure-pipelines, llmops, named_entity_recognition
  .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification, src/shared
  .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification

fix third pipeline
  web_classification/experiment.pr.yaml
  web_classification/experiment.yaml
Due: none

fix 4th/5th/6th pipelines
  .github/actions/aml_real_deployment/action.yml
  .github/actions/kubernetes_deployment/action.yml
  .github/actions/webapp_deployment/action.yml
  .github/workflows/math_coding_ci_dev_workflow.yml
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/platform_cd_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
  .github/workflows/web_classification_ci_dev_workflow.yml
  llmops/common/scripts/az_webapp_deploy.sh
Due: .azure-pipelines/test_pipeline.yml

fix 4th/5th/6th pipelines
  .azure-pipelines/templates/aml_real_deployment.yml
  .azure-pipelines/templates/kubernetes_deployment.yml
  .github/actions/aml_real_deployment/action.yml
  .github/actions/kubernetes_deployment/action.yml
  .github/workflows/platform_cd_dev_workflow.yml
  math_coding/configs/deployment_config.json
  named_entity_recognition/configs/deployment_config.json
  web_classification/configs/deployment_config.json
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

small fix
  llmops/common/deployment/register_model.py
Due: .azure-pipelines/test_pipeline.yml

Clean up and first changes to Azure devops
  .azure-pipelines/build_validation_pipeline.yml
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .azure-pipelines/platform_pr_dev_pipeline.yml
  .azure-pipelines/templates/aml_real_deployment.yml
  .azure-pipelines/templates/kubernetes_deployment.yml
  .azure-pipelines/templates/prepare_docker_image.yml
  .azure-pipelines/templates/webapp_deployment.yml
  .github/actions/aml_real_deployment/action.yml
  .github/actions/kubernetes_deployment/action.yml
  .github/actions/prepare_docker_image/action.yml
  .github/workflows/named_entity_recognition_post_prod_eval.yml
  llmops/common/deployment/test_local_flow.py
  llmops/common/prompt_local_connections.py
  llmops/common/register_data_asset.py
  llmops/common/scripts/gen_docker_image.sh
  math_coding/.azure-pipelines/math_coding_ci_dev_pipeline.yml
  math_coding/.azure-pipelines/math_coding_pr_dev_pipeline.yml
  named_entity_recognition/.azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml
  named_entity_recognition/.azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml
  web_classification/.azure-pipelines/web_classification_ci_dev_pipeline.yml
  web_classification/.azure-pipelines/web_classification_pr_dev_pipeline.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Add dedicated unit tests pipeline
  .azure-pipelines/build_validation_pipeline.yml
  .azure-pipelines/common_unit_test_pipeline.yml
  .github/workflows/build_validation_workflow.yml
  .github/workflows/unit_test_pr.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

K8s compute
  .azure-pipelines/templates/kubernetes_deployment.yml
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .github/workflows/platform_cd_dev_workflow.yml
  llmops/common/prompt_pipeline.py
  named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Start fixing Azure DevOps pipelines
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .azure-pipelines/platform_pr_dev_pipeline.yml
  .azure-pipelines/templates/aml_real_deployment.yml
  math_coding/.azure-pipelines/math_coding_ci_dev_pipeline.yml
  math_coding/.azure-pipelines/math_coding_pr_dev_pipeline.yml
  named_entity_recognition/.azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml
  named_entity_recognition/.azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml
  web_classification/.azure-pipelines/web_classification_ci_dev_pipeline.yml
  web_classification/.azure-pipelines/web_classification_pr_dev_pipeline.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Add extra unit tests
  .azure-pipelines/requirements/build_validation_requirements.txt
  .github/requirements/build_validation_requirements.txt
  llmops/common/deployment/kubernetes_deployment.py
  llmops/common/deployment/kubernetes_endpoint.py
  llmops/common/deployment/provision_deployment.py
  llmops/common/deployment/provision_endpoint.py
  llmops/common/deployment/register_model.py
  llmops/common/prompt_eval.py
  llmops/common/prompt_pipeline.py
  llmops/common/register_data_asset.py
  tests/resources/configs/deployment_config.json
  tests/resources/data/data.jsonl
  tests/resources/experiment_2.yaml
  tests/test_create_aml_deployment.py
  tests/test_create_aml_endpoint.py
  tests/test_create_kubernetes_deployment.py
  tests/test_create_kubernetes_endpoint.py
  tests/test_register_data.py
  tests/test_register_model.py
  tests/test_run_evaluation_flow.py
  tests/test_run_standard_flow.py
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Postprod pipeline
  .github/workflows/named_entity_recognition_post_prod_eval.yml
Due: none

Fix unit tests after rebase
  tests/test_create_kubernetes_deployment.py
Due: none

clean up part 1
  .azure-pipelines/templates/aml_real_deployment.yml
  .azure-pipelines/templates/webapp_deployment.yml
  .github/actions/webapp_deployment/action.yml
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .gitignore
  llmops/common/common.py
  llmops/common/deployment/kubernetes_deployment.py
  llmops/common/experiment.py
  llmops/common/prompt_eval.py
  llmops/common/prompt_pipeline.py
  llmops/common/scripts/az_webapp_deploy.sh
  math_coding/.azure-pipelines/math_coding_ci_dev_pipeline.yml
  math_coding/.azure-pipelines/math_coding_pr_dev_pipeline.yml
  math_coding/configs/deployment_config.json
  named_entity_recognition/.azure-pipelines/named_entity_recognition_ci_dev_pipeline.yml
  named_entity_recognition/.azure-pipelines/named_entity_recognition_pr_dev_pipeline.yml
  named_entity_recognition/configs/deployment_config.json
  named_entity_recognition/experiment.pr.yaml
  named_entity_recognition/flows/standard/.promptflow/flow.tools.json
  tests/test_create_aml_deployment.py
  tests/test_create_aml_endpoint.py
  tests/test_create_kubernetes_deployment.py
  tests/test_create_kubernetes_endpoint.py
  tests/test_experiment.py
  tests/test_experiment_cloud_config.py
  tests/test_run_evaluation_flow.py
  web_classification/.azure-pipelines/web_classification_ci_dev_pipeline.yml
  web_classification/configs/deployment_config.json
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Add missing python lib
  .github/requirements/execute_job_requirements.txt
Due: none

undo changes to named_entity_recognition flow
  named_entity_recognition/flows/standard/NER_LLM.jinja2
  named_entity_recognition/flows/standard/NER_LLM_v2.jinja2
  named_entity_recognition/flows/standard/flow.dag.yaml
Due: .azure-pipelines/test_pipeline.yml

delete unused files
  web_classification/configs/data_config.json
  web_classification/configs/mapping_config.json
  web_classification/llmops_config.json
Due: none

Add missing python lib
  .azure-pipelines/requirements/execute_job_requirements.txt
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Remove unused files
  README.md
  docs/experiment.yaml
  math_coding/configs/data_config.json
  math_coding/configs/mapping_config.json
  math_coding/experiment.yaml
  math_coding/llmops_config.json
  named_entity_recognition/configs/data_config.json
  named_entity_recognition/configs/mapping_config.json
  named_entity_recognition/llmops_config.json
Due: .azure-pipelines/test_pipeline.yml

fix after rebase
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/test_pipeline.yml

Fix jenkins files part
  .jenkins/jobs/aml_real_deployment
  .jenkins/jobs/build_validation
  .jenkins/jobs/kubernetes_deployment
  .jenkins/jobs/prepare_docker_image
  .jenkins/jobs/webapp_deployment
  .jenkins/pipelines/math_coding_ci_dev
  .jenkins/pipelines/math_coding_pr_dev
  .jenkins/pipelines/named_entity_recognition_ci_dev
  .jenkins/pipelines/named_entity_recognition_pr_dev
  .jenkins/pipelines/platform_cd_dev
  .jenkins/pipelines/platform_ci_dev
  .jenkins/pipelines/platform_pr_dev
  .jenkins/pipelines/web_classification_ci_dev
  .jenkins/pipelines/web_classification_pr_dev
  .jenkins/requirements/execute_job_requirements.txt
  llmops/common/scripts/az_webapp_deploy.sh
  llmops/common/scripts/gen_docker_image.sh
  named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

Add documentation part 1
  docs/experiment.yaml
  docs/the_experiment_file.md
  docs/tutorial/04-Patterns.md
Due: none

Add documentation part 2
  docs/Azure_devops_how_to_setup.md
  docs/experiment.yaml
Due: none

Use github environments
  .github/workflows/platform_cd_dev_workflow.yml
  .github/workflows/platform_ci_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

Add Publish Flow Feature
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .azure-pipelines/templates/publish_prompt_flow.yml
  docs/Azure_devops_how_to_setup.md
  docs/github_workflows_how_to_setup.md
  math_coding/llmops_config.json
  named_entity_recognition/llmops_config.json
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Use github environments part 2
  .github/workflows/platform_ci_dev_workflow.yml
Due: none

Use github environments part 2
  .github/workflows/platform_ci_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
Due: none

Fix jenkins envs
  .github/workflows/platform_pr_dev_workflow.yml
  .jenkins/pipelines/named_entity_recognition_pr_dev
  .jenkins/pipelines/platform_pr_dev
Due: none

Fix jenkins envs part 2
  .jenkins/pipelines/named_entity_recognition_pr_dev
Due: none

Fix jenkins envs part 3
  .jenkins/pipelines/math_coding_ci_dev
  .jenkins/pipelines/math_coding_pr_dev
  .jenkins/pipelines/named_entity_recognition_ci_dev
  .jenkins/pipelines/named_entity_recognition_pr_dev
  .jenkins/pipelines/platform_cd_dev
  .jenkins/pipelines/platform_ci_dev
  .jenkins/pipelines/web_classification_ci_dev
  .jenkins/pipelines/web_classification_pr_dev
Due: none

Fix jenkins envs part 3 & add documentation
  .jenkins/pipelines/platform_pr_dev
  llmops/common/prompt_pipeline.py
Due: .azure-pipelines/test_pipeline.yml

Fix jenkins envs part 4
  .jenkins/pipelines/math_coding_ci_dev
  .jenkins/pipelines/math_coding_pr_dev
  .jenkins/pipelines/named_entity_recognition_ci_dev
  .jenkins/pipelines/named_entity_recognition_pr_dev
  .jenkins/pipelines/platform_cd_dev
  .jenkins/pipelines/platform_ci_dev
  .jenkins/pipelines/platform_pr_dev
  .jenkins/pipelines/web_classification_ci_dev
  .jenkins/pipelines/web_classification_pr_dev
Due: none

Fix jenkins envs part 5
  .jenkins/pipelines/platform_pr_dev
Due: none

Fix jenkins envs part 6
  .jenkins/jobs/aml_real_deployment
  .jenkins/jobs/kubernetes_deployment
  .jenkins/pipelines/platform_cd_dev
  .jenkins/pipelines/platform_ci_dev
Due: none

Fix jenkins envs part 7
  .jenkins/pipelines/platform_ci_dev
Due: none

Add documentation
  .azure-pipelines/platform_ci_dev_pipeline.yml
  .azure-pipelines/platform_pr_dev_pipeline.yml
  .github/workflows/platform_ci_dev_workflow.yml
  .github/workflows/platform_pr_dev_workflow.yml
  README.md
  docs/Azure_devops_how_to_setup.md
  docs/github_workflows_how_to_setup.md
  docs/how_to_onboard_new_flows.md
  docs/images/github-environments-all-vars.png
  docs/images/github-environments-new-env.png
  docs/images/github-environments-new-var.png
  docs/images/jenkins-environments-new-var.png
  docs/jenkins_how_to_setup.md
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Clean up
  .jenkins/pipelines/platform_pr_dev
  README.md
  docs/github_workflows_how_to_setup.md
  docs/the_experiment_file.md
  named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

changing deployment name
  named_entity_recognition/flows/standard/flow.dag.yaml
Due: .azure-pipelines/test_pipeline.yml

Add support for Jenkins declarative pipelines (#130)
  .github/workflows/named_entity_recognition_ci_dev_workflow.yml
  .jenkins/jobs/aml_real_deployment
  .jenkins/jobs/build_validation
  .jenkins/jobs/kubernetes_deployment
  .jenkins/jobs/prepare_docker_image
  .jenkins/jobs/webapp_deployment
  .jenkins/pipelines/math_coding_ci_dev
  .jenkins/pipelines/math_coding_pr_dev
  .jenkins/pipelines/named_entity_recognition_ci_dev
  .jenkins/pipelines/named_entity_recognition_pr_dev
  .jenkins/pipelines/platform_cd_dev
  .jenkins/pipelines/platform_ci_dev
  .jenkins/pipelines/platform_pr_dev
  .jenkins/pipelines/web_classification_ci_dev
  .jenkins/pipelines/web_classification_pr_dev
  .jenkins/requirements/build_validation_requirements.txt
  .jenkins/requirements/execute_job_requirements.txt
  .jenkins/shared-library/vars/azureLogin.groovy
  .jenkins/shared-library/vars/installRequirements.groovy
  README.md
  docs/images/jenkins-credentials-dev-conn.png
  docs/images/jenkins-credentials.png
  docs/images/jenkins-pipeline-test.png
  docs/images/jenkins-pr-trigger.png
  docs/images/jenkins-webhook-gh.png
  docs/jenkins_how_to_setup.md
  llmops/common/scripts/az_webapp_deploy.sh
  llmops/common/scripts/gen_docker_image.sh
  named_entity_recognition/flows/standard/requirements.txt
Due: .azure-pipelines/test_pipeline.yml

set deployent config for aml endpoint
  chat_with_pdf/configs/deployment_config.json
Due: none

install missed libs
  .github/actions/configure_azureml_agent/action.yml
Due: none
