Repository microsoft/genaiops-promptflow-template: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

.azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ../platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ../platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/test_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: deploy_prompts
    displayName: deploy_prompts
    jobs:
    - job: Execute_ml_Job_Pipeline
      steps:
      - ${{ if eq('webapp', lower(parameters.deployment_type)) }}:
        - template: templates/webapp_deployment.yml
          parameters:
  ...

.azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ../platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

.azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../templates/variables_template.yml
    parameters:
      env_name: ${{parameters.env_name}}
      model_type: ${{parameters.model_type}}
  - template: ../platform_pr_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
  ...

Fix jenkins envs part 7
  .jenkins/pipelines/platform_ci_dev
Due: none

Undo image.png delete
  docs/image.png
Due: none

Fix jenkins envs part 2
  .jenkins/pipelines/named_entity_recognition_pr_dev
Due: none

Fix jenkins envs part 5
  .jenkins/pipelines/platform_pr_dev
Due: none

Highlight important doc section
  docs/Azure_devops_how_to_setup.md
Due: none

created environment configs for chat_with_pdf example
  chat_with_pdf/experiment.pr.yaml
  chat_with_pdf/experiment.yaml
Due: none

fixed github workflows for chat_with_pdf
  .github/workflows/chat_with_pdf_ci_dev_workflow.yml
  .github/workflows/chat_with_pdf_pr_dev_workflow.yml
Due: none

fixed experiment config for chat_with_pdf
  chat_with_pdf/experiment.yaml
Due: none

fixed github pr workflow for chat_with_pdf example
  .github/workflows/chat_with_pdf_pr_dev_workflow.yml
  chat_with_pdf/data/bert-paper-qna-3-line.jsonl
Due: none

adjusted eval dataset
  chat_with_pdf/data/data.jsonl
Due: none

add deployment config
  chat_with_pdf/configs/deployment_config.json
Due: none

fixed pr and ci pipelines for azure devops
  chat_with_pdf/.azure-pipelines/chat_with_pdf_ci_dev_pipeline.yml
  chat_with_pdf/.azure-pipelines/chat_with_pdf_pr_dev_pipeline.yml
Due: none

copy run file to docker to omit issue with empty api_key in runnin container
  chat_with_pdf/environment/run
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/test_pipeline.yml

do not change run file in docker
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/test_pipeline.yml

fixed version of promptflow for chat_with_pdf
  chat_with_pdf/flows/standard/requirements.txt
Due: none

check connection details
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/test_pipeline.yml

fixed deployment env name
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/test_pipeline.yml

install latest propmtflow version
  chat_with_pdf/flows/standard/requirements.txt
Due: none

deleted old configs
  chat_with_pdf/configs/data_config.json
  chat_with_pdf/configs/mapping_config.json
  chat_with_pdf/flows/standard/requirements.txt
  chat_with_pdf/llmops_config.json
Due: none

removed config from deployment config
  chat_with_pdf/configs/deployment_config.json
Due: none

removed debug info from docker image generation script
  llmops/common/scripts/gen_docker_image.sh
Due: .azure-pipelines/test_pipeline.yml

PF in aml pipeline start (#1)
  .github/workflows/web_classification_pf_in_aml_pipeline_workflow.yml
  docs/github_workflows_how_to_setup.md
  llmops/common/components/postprocess.py
  llmops/common/components/preprocess.py
  llmops/common/experiment_cloud_config.py
  llmops/common/promptflow_in_aml_pipeline.py
Due: .azure-pipelines/test_pipeline.yml

Fix the compute target variable usage (#2)
  llmops/common/promptflow_in_aml_pipeline.py
Due: .azure-pipelines/test_pipeline.yml

updated README
  plan_and_execute/README.md
Due: none

extend doc
  docs/how_to_onboard_new_flows.md
Due: none

extend doc
  .github/workflows/named_entity_recognition_data_aml_cd_workflow.yml
Due: none

Create web_classification_pf_in_aml_pipeline_workflow.yml
  .azure-pipelines/web_classification_pf_in_aml_pipeline_workflow.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Update Azure_devops_how_to_setup.md
  docs/Azure_devops_how_to_setup.md
Due: none

flake8 fixes
  dataops/common/aml_data_asset.py
  dataops/common/aml_data_store.py
  dataops/common/aml_pipeline.py
  named_entity_recognition/data_pipelines/aml/prep_data.py
Due: .azure-pipelines/test_pipeline.yml

update doc
  README.md
  docs/how_to_configure_dataops.md
  docs/how_to_onboard_new_flows.md
Due: none

update doc
  docs/how_to_configure_dataops.md
Due: none

flake8 fixes part 2
  dataops/common/aml_pipeline.py
  named_entity_recognition/data_pipelines/aml/prep_data.py
Due: .azure-pipelines/test_pipeline.yml

fixed for lint
  plan_and_execute/flows/standard/connection_utils.py
  plan_and_execute/flows/standard/executor.py
  plan_and_execute/flows/standard/flow.dag.yaml
  plan_and_execute/flows/standard/planner.py
  plan_and_execute/flows/standard/solver.py
  plan_and_execute/flows/standard/tools.py
Due: none

Adding Plan-and-Execute agentic example (#147)
  plan_and_execute/.azure-pipelines/plan_and_execute_ci_dev_pipeline.yml
  plan_and_execute/.azure-pipelines/plan_and_execute_pr_dev_pipeline.yml
  plan_and_execute/README.md
  plan_and_execute/configs/data_config.json
  plan_and_execute/configs/deployment_config.json
  plan_and_execute/configs/mapping_config.json
  plan_and_execute/data/data.jsonl
  plan_and_execute/data/eval_data.jsonl
  plan_and_execute/environment/Dockerfile
  plan_and_execute/figs/architecture.svg
  plan_and_execute/figs/connection.svg
  plan_and_execute/flows/evaluation/evaluator.jinja2
  plan_and_execute/flows/evaluation/flow.dag.yaml
  plan_and_execute/flows/standard/connection_utils.py
  plan_and_execute/flows/standard/docker/dockerfile
  plan_and_execute/flows/standard/executor.py
  plan_and_execute/flows/standard/flow.dag.yaml
  plan_and_execute/flows/standard/planner.py
  plan_and_execute/flows/standard/planner_system_prompt.jinja2
  plan_and_execute/flows/standard/requirements.txt
  plan_and_execute/flows/standard/solver.py
  plan_and_execute/flows/standard/solver_system_prompt.jinja2
  plan_and_execute/flows/standard/tools.py
  plan_and_execute/llmops_config.json
  plan_and_execute/sample-request.json
  plan_and_execute/tests/test_delete_this_file.py
Due: none

Path conditions:
  .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition, src/shared
  .azure-pipelines/test_pipeline.yml: any of: .azure-pipelines, llmops, named_entity_recognition
  .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification, src/shared
  .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification
