Repository microsoft/genaiops-promptflow-template: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

Path conditions:
  .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition
  .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/named_entity_recognition, model/named_entity_recognition, src/shared
  .azure-pipelines/test_pipeline.yml: any of: .azure-pipelines, llmops, named_entity_recognition
  .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification, src/shared
  .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, flows/web_classification, model/web_classification

update azure aiml varsion for github actions 2
  .github/requirements/build_validation_requirements.txt
Due: none

added github workflows
  .github/workflows/chat_with_pdf_ci_dev_workflow.yml
  .github/workflows/chat_with_pdf_pr_dev_workflow.yml
Due: none

removed used for tests config
  chat_with_pdf/llmops_config.json
Due: none

simple change
  llmops/common/deployment/register_model.py
Due: .azure-pipelines/test_pipeline.yml

bash commands combined in readme
  docs/github_workflows_how_to_setup.md
  named_entity_recognition/flows/standard/flow.dag.yaml
Due: .azure-pipelines/test_pipeline.yml

new configs
  named_entity_recognition/configs/deployment_config.json
  named_entity_recognition/llmops_config.json
Due: .azure-pipelines/test_pipeline.yml

adding permissions for github actions to run
  .github/actions/aml_real_deployment/action.yml
Due: none

PF in pipeline working fine
  web_classification/pf-in-aml-pipeline/README.md
  web_classification/pf-in-aml-pipeline/components/postprocess.yaml
  web_classification/pf-in-aml-pipeline/components/preprocess.yaml
  web_classification/pf-in-aml-pipeline/run_pipeline.py
  web_classification/pf-in-aml-pipeline/src/postprocess.py
Due: none

Revert flow.tools.json
  web_classification/flows/experiment/.promptflow/flow.tools.json
  web_classification/pf-in-aml-pipeline/src/postprocess.py
Due: none

Fixed README.md
  web_classification/pf-in-aml-pipeline/README.md
Due: none

azure-ai-ml version update
  .azure-pipelines/requirements/build_validation_requirements.txt
  .azure-pipelines/requirements/execute_job_requirements.txt
  .github/requirements/build_validation_requirements.txt
  .github/requirements/execute_job_requirements.txt
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

docker deployment for aml
  .azure-pipelines/templates/aml_real_deployment.yml
  .azure-pipelines/templates/kubernetes_deployment.yml
  .github/actions/aml_real_deployment/action.yml
  .github/actions/kubernetes_deployment/action.yml
  README.md
  docs/Azure_devops_how_to_setup.md
  docs/github_workflows_how_to_setup.md
  docs/how_to_onboard_new_flows.md
  llmops/common/deployment/kubernetes_deployment.py
  llmops/common/deployment/provision_deployment.py
  math_coding/configs/deployment_config.json
  math_coding/environment/conda.yml
  math_coding/flows/math_standard_flow/README.md
  math_coding/flows/math_standard_flow/docker/dockerfile
  named_entity_recognition/configs/deployment_config.json
  named_entity_recognition/environment/conda.yml
  named_entity_recognition/flows/standard/docker/dockerfile
  web_classification/configs/deployment_config.json
  web_classification/environment/conda.yml
  web_classification/flows/experiment/docker/dockerfile
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

test with sample values
  math_coding/configs/deployment_config.json
  math_coding/llmops_config.json
Due: none

test with sample values
  llmops/common/prompt_eval.py
  llmops/common/prompt_pipeline.py
Due: .azure-pipelines/test_pipeline.yml

test git pipelines
  .azure-pipelines/templates/aml_real_deployment.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

removed config values after test
  llmops/common/prompt_pipeline.py
  math_coding/configs/deployment_config.json
  math_coding/llmops_config.json
Due: .azure-pipelines/test_pipeline.yml

removed config values after test
  named_entity_recognition/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

removed unwanted config item
  docs/Azure_devops_how_to_setup.md
  docs/github_workflows_how_to_setup.md
  llmops/common/deployment/kubernetes_deployment.py
  llmops/common/deployment/provision_deployment.py
  math_coding/configs/deployment_config.json
  named_entity_recognition/configs/deployment_config.json
  web_classification/configs/deployment_config.json
Due: .azure-pipelines/test_pipeline.yml

changed code
  web_classification/configs/deployment_config.json
  web_classification/llmops_config.json
Due: none

dataops
  dataops/common/aml_data_asset.py
  named_entity_recognition/.azure-pipelines/named_entity_recognition_data_aml_cd_workflow.yml
  named_entity_recognition/configs/dataops_config.json
Due: .azure-pipelines/test_pipeline.yml

fixed serverless runtime fix
  llmops/common/prompt_eval.py
Due: .azure-pipelines/test_pipeline.yml

run github ci pipeline on manual trigger
  .github/workflows/chat_with_pdf_ci_dev_workflow.yml
Due: none

raised package version
  .github/requirements/build_validation_requirements.txt
Due: none

updated python version
  .github/workflows/build_validation_workflow.yml
Due: none

updated package versions
  .github/actions/configure_azureml_agent/action.yml
  .github/requirements/build_validation_requirements.txt
  .github/requirements/execute_job_requirements.txt
Due: none

changed ai nl client vetsion
  .github/requirements/build_validation_requirements.txt
  .github/requirements/execute_job_requirements.txt
Due: none

upgrade az client
  .azure-pipelines/templates/configure_azureml_agent.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

pus changes
  .azure-pipelines/templates/configure_azureml_agent.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

changed pipelines
  .azure-pipelines/templates/configure_azureml_agent.yml
  .github/actions/configure_azureml_agent/action.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

changed pipelines 2
  .github/actions/configure_azureml_agent/action.yml
Due: none

changed pipelines 3
  .github/actions/configure_azureml_agent/action.yml
Due: none

changed pipelines 4
  .github/actions/configure_azureml_agent/action.yml
Due: none

added config
  chat_with_pdf/llmops_config.json
Due: none

reverted changes
  .github/actions/configure_azureml_agent/action.yml
  .github/requirements/build_validation_requirements.txt
  .github/requirements/execute_job_requirements.txt
  .github/workflows/build_validation_workflow.yml
Due: none

removed files
  .azure-pipelines/requirements/build_validation_requirements.txt
  chat_with_pdf/environment/Dockerfile.aml
  chat_with_pdf/environment/conda.yml
Due: .azure-pipelines/named_entity_recognition/named_entity_recognition_ci_dev_pipeline.yml, .azure-pipelines/named_entity_recognition/named_entity_recognition_pr_dev_pipeline.yml, .azure-pipelines/test_pipeline.yml, .azure-pipelines/web_classification/web_classification_ci_dev_pipeline.yml, .azure-pipelines/web_classification/web_classification_pr_dev_pipeline.yml

added dockerfile
  chat_with_pdf/flows/standard/docker/dockerfile
Due: none

removed deployment config
  chat_with_pdf/configs/deployment_config.json
Due: none

removed webapp deploy config
  chat_with_pdf/configs/deployment_config.json
Due: none
